{% extends 'elections/base.html' %}
{% load l10n %}
{% load static %}
{% block title %}Sobre - Eleições Brasil.IO{% endblock %}

{% block content %}
<section class="container my-5 pb-5">
  <div class="row g-2">
    <div class="col-12 col-lg-3 sticky-xl-top align-self-start pt-2">
      <div class="card overflow-y-scroll border-0" style="max-height: calc(100vh - 50px)">
        <div class="card-body d-flex flex-column justify-content-center">
          <div class="d-flex justify-content-center">
            <img
              src="{% static 'img/logo/logo-brasil-io-elections.png' %}"
              alt="Logo brasilio"
              style="max-width: 192px; width: 100%;"
            >
          </div>
          <article class="d-flex flex-column align-items-center mt-4">
            <h2 class="fs-5 mb-3 fw-light election-text-primary">Portal das Eleições</h2>
            <div class="fs-4 d-flex justify-content-center gap-3 election-text-primary">
              {% include 'elections/includes/social_links.html' %}
            </div>
          </article>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-9 pt-2">
      <div class="card border-0">
        <div class="card-body py-0 d-flex flex-column gap-3">
          <article>
            <h2 class="election-text-primary fs-5 mb-3">Sobre o Portal das Eleições Brasil.IO</h2>
            <p>O Portal das Eleições Brasil.IO é uma plataforma sem fins lucrativos que disponibiliza informações públicas relevantes sobre os candidatos às eleições municipais de 2024. A plataforma foi criada para facilitar o acesso a essas informações para eleitores, jornalistas e pesquisadores, contribuindo para um processo eleitoral mais informativo e consciente.</p>
          </article>
          <article>
            <h2 class="election-text-primary fs-5 mb-3">Fontes dos dados</h2>
            <p>Os dados divulgados no Portal das Eleições Brasil.IO são provenientes de fontes de dados públicas, como o Portal de Dados Abertos do Tribunal Superior Eleitoral (TSE) e o Portal de Dados Abertos da Receita Federal.<br><br>
            Além dessas fontes, informações adicionais são fornecidas pelos órgãos públicos em resposta a solicitações de acesso à informação, com base na Lei Federal 12.527/2011 (Lei de Acesso à Informação).<br><br>
Como a fonte primária de todos os dados divulgados são órgãos públicos, a plataforma considera que os dados divulgados por essas fontes são corretos em relação ao seu conteúdo.</p>
          </article>
          <article>
            <h2 class="election-text-primary fs-5 mb-3">Tratamento dos dados e legislação</h2>
            <p>O uso e disponibilização dos dados pelo Portal das Eleições Brasil.IO está em total conformidade com a legislação brasileira. De acordo com o art. 29, caput e § 1º da Lei Federal 14.129/2021, dados públicos obtidos com base na Lei de Acesso à informação podem ser utilizados de forma livre e irrestrita pela sociedade, sendo legítimo e lícito o seu tratamento com base, entre outros, no art. 7o, II e IX da Lei Federal 13.709/2018 (Lei Geral de Proteção de Dados - LGPD).<br><br>
            A plataforma prioriza a transparência e o acesso à informação, garantindo que os dados sejam utilizados de forma ética e responsável. O Portal das Eleições Brasil.IO não realiza nenhum tipo de alteração no conteúdo dos dados originais. Os tratamentos realizados têm como foco garantir que as informações sejam apresentadas de forma clara e organizada, facilitando a compreensão e o acesso por parte do público.</p>
          </article>
          <article>
            <h2 class="election-text-primary fs-5 mb-3">Contato</h2>
            <p>Em caso de dúvidas sobre a plataforma ou necessidade de solicitar retificação de dados, entre em contato por meio deste formulário [link do formulário].
            Para solicitações de retificação, descreva de forma clara e fundamentada o dado que precisa ser corrigido.</p>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
