{% load static %}
<!DOCTYPE html>
<html class="h-100" lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
    <title>{% block title %}Eleições Brasil.IO{% endblock %}</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'elections/css/bootstrap-5.3.3.min.css' %}">
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="{% static 'elections/css/bootstrap-icons.css' %}">
    <!-- Theme -->
    <link rel="stylesheet" href="{% static 'elections/css/elections.css' %}">
    {% block script %}
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-117698282-1"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-117698282-1');
      </script>
    {% endblock %}
  </head>
  <body class="d-flex flex-column h-100">
    <header>
      <nav class="navbar navbar-dark navbar-expand-lg py-3" style="background-color: var(--election-primary-bg)">
        <div class="container">
          <div class="navbar-brand py-0 d-flex justify-content-center align-items-center">
            <img
              src="{% static 'elections/img/logo/logo-no-text.svg' %}"
              alt="Brasil.io logo"
              width="40px"
            />
            <span class="fs-4 ms-2 d-none d-lg-block">Brasil.io</span>
          </div>
          <span class="fs-5 fw-light text-white me-0 me-lg-2">Eleições 2024</span>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav d-flex justify-content-between w-100">
              <div class="d-flex flex-column flex-lg-row g-2 g-lg-0">
                <a
                  class="nav-link {% if request.resolver_match.url_name == 'home' %}active{% endif %}"
                  href="{% url 'elections:home' %}"
                >Home
                </a>
                <a
                  class="nav-link {% if request.resolver_match.url_name == 'candidacy_list' %}active{% endif %}"
                  href="{% url 'elections:candidacy_list' %}"
                >Busca
                </a>
                <a
                  class="nav-link {% if request.resolver_match.url_name == 'about' %}active{% endif %}"
                  href="{% url 'elections:about' %}"
                >Sobre
                </a>
              </div>
              <div class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  id="bd-theme"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-circle-half"
                    viewBox="0 0 16 16"
                  >
                    <path d="M8 15A7 7 0 1 0 8 1zm0 1A8 8 0 1 1 8 0a8 8 0 0 1 0 16"/>
                  </svg>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a type="button" class="dropdown-item" data-bs-theme-value="light">
                      Iluminado
                    </a>
                  </li>
                  <li>
                    <a type="button" class="dropdown-item" data-bs-theme-value="dark">
                      Escuro
                    </a>
                  </li>
                  <li>
                    <a type="button" class="dropdown-item" data-bs-theme-value="auto">
                      Automático
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main class="flex-shrink-0">
      <section class="container py-5">
        <!-- Django template data to prepopulated JavaScript components  -->
        {{ data|json_script:"data" }}
        <div id="app">
          <!-- Skeleton loading animation -->
          <div class="placeholder-glow">
            <span class="placeholder col-12 bg-secondary" style="height: 110.1px;"></span>
          <div>
          <!-- Add seconde skeleton loading animation if candidacy_list page  -->
          {% if request.resolver_match.url_name == 'candidacy_list' %}
            <div class="placeholder-glow mt-4">
              <span class="placeholder col-12 bg-secondary" style="height: 700px;"></span>
            <div>
          {% endif %}
        </div>
      </section>
      {% block content %}{% endblock %}
    </main>

    <div class="mt-auto" style="background-color: var(--election-primary-bg)">
      <div class="container">
        <footer class="text-white">
          <div class="fw-light lh-lg text-center py-5">
            Os dados do Brasil.IO Eleições são obtidos do Tribunal Superior Eleitoral (TSE), da Receita Federal e de outras fontes públicas.<br>
            Esta divulgação está em conformidade com a Lei de Acesso à Informação (12.527/2011), a Lei Geral de Proteção de Dados (13.709/2018) e a Lei de Governo Digital (14.129/2021).<br>
            O Brasil.IO Eleições não se responsabiliza por eventuais erros ou omissões nos dados, que refletem as informações originais fornecidas pelos órgãos públicos.
          </div>
          <section class="d-flex flex-column flex-lg-row py-4 mt-auto justify-content-between align-items-center">
            <div class="d-flex flex-column-reverse flex-lg-row align-items-center gap-lg-3 mb-2 mg-lg-0">
              <div class="d-flex flex-column flex-lg-row gap-2 align-items-center">
                <div>
                  <div class="navbar-brand py-0 d-flex justify-content-center align-items-center">
                    <img
                      src="{% static 'img/logo/logo_br-io_fundo-escuro-no-text.svg' %}"
                      alt="Brasil.io logo"
                      width="30px"
                    />
                    <span class="fs-6 ms-2">Brasil.io</span>
                  </div>
                  <div class="fw-light text-center">Eleições</div>
                </div>
                <div class="ms-lg-3 d-flex gap-3">
                  {% include 'elections/includes/social_links.html' %}
                </div>
              </div>
              <ul class="nav justify-content-center">
                <li class="nav-item">
                  <a
                    class="nav-link link-light px-2 {% if request.resolver_match.url_name == 'home' %}fw-bold{% endif %}"
                    href="{% url 'elections:home' %}"
                  >Home</a>
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link link-light px-2 {% if request.resolver_match.url_name == 'candidacy_list' %}fw-bold{% endif %}"
                    href="{% url 'elections:candidacy_list' %}"
                  >Busca</a>
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link link-light px-2 {% if request.resolver_match.url_name == 'about' %}fw-bold{% endif %}"
                    href="{% url 'elections:about' %}"
                  >Sobre</a>
                </li>
              </ul>
            </div>
            <div class="d-flex flex-column-reverse flex-lg-row gap-2 align-items-center">
              <a
                class="link-light px-2 {% if request.resolver_match.url_name == 'privacy_policy' %}fw-bold{% endif %}"
                href="{% url 'elections:privacy_policy' %}"
              >Política de privacidade</a>
              <div class="d-flex align-items-center gap-3">
                <div class="footer-date">----</div>
                <a
                  href="https://creativecommons.org/licenses/by-sa/4.0/deed.pt-br"
                  class="d-flex gap-2 align-items-center"
                  target="_blank"
                >
                  <img src="{% static 'elections/img/cc.svg' %}" alt="cc logo" width="30px"/>
                  <img src="{% static 'elections/img/by.svg' %}" alt="by logo" width="30px"/>
                  <img src="{% static 'elections/img/sa.svg' %}" alt="sa logo" width="30px"/>
                </a>
              </div>
            </div>
          </section>
        </footer>
      </div>
    </div>

    {% block bodyscript %}
      <script src="{% static 'elections/js/bootstrap-5.3.3.bundle.min.js' %}"></script>
      <script src="{% static 'elections/js/theme.js' %}"></script>
      <script src="{% static 'elections/js/footer-date.js' %}"></script>
      <script src="{% static 'elections/js/vue-3.5.0.global.js' %}"></script>
      <script src="{% static 'elections/js/naive-ui-2.39.0.js' %}"></script>
      <script src="{% static 'elections/js/vue-router-4.0.15.global.js' %}"></script>
      <script src="{% static 'elections/js/components/elections.js' %}" type="module"></script>
    {% endblock %}
  </body>
</html>
