{% extends 'elections/base.html' %}
{% load l10n %}
{% load static %}
{% block title %}Eleições - Brasil.IO{% endblock %}

{% block content %}
{% with candidacy=data.item info_list=data.info_list %}
<style>
.image-loading {
  max-width: 290px;
  width: 100%;
}
@media (min-width: 1200px) {
  .image-loading {
    min-height: 239px;
  }
}
</style>
<section class="container mb-5 pb-5">
  <h1 class="candidacy-name fw-normal election-text-primary">{{ candidacy.nome|lower|capfirst }}</h1>
  <div class="d-flex align-items-center border-top-custom" style="font-weight: 500">
    <span class="election-text-primary">ELEIÇÕES</span>
    <ul class="nav">
      <li class="nav-item">
        <span
          class="nav-link election-text-primary active-custom"
          aria-current="page"
          >2024</span>
      </li>
    </ul>
  </div>
  <article class="d-flex gap-2 flex-column mb-4 fs-5">
    <div class="election-text-primary">
      <span class="fw-semibold">
        Cargo:</span> <span>{{ candidacy.cargo|lower|capfirst }}
      </span>
    </div>
    <div class="election-text-primary">
      <span class="fw-semibold">Localidade:</span>
      <span>{{ candidacy.municipio }} ({{ candidacy.sigla_unidade_federativa}})</span>
    </div>
  </article>
  <div class="row g-2">
    <div class="col-12 col-lg-3 sticky-xl-top align-self-start pt-2">
      <div class="card overflow-x-scroll">
        <div class="card-body d-flex flex-column justify-content-center">
          <img
            src="{% static 'elections/img/politics/default-avatar.jpg' %}"
            class="rounded-circle mx-auto d-block image-loading"
            alt="foto candidato"
            style="max-width: 290px; width: 100%; min-height: 239px;"
          >
          <article class="d-flex flex-column align-items-center mt-4">
            <h2 class="fs-5 mb-1">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                fill="currentColor"
                class="bi bi-box"
                viewBox="0 0 16 16"
              >
                <path
                  d="M8.186 1.113a.5.5 0 0 0-.372 0L1.846 3.5 8 5.961 14.154 3.5zM15 4.239l-6.5 2.6v7.922l6.5-2.6V4.24zM7.5 14.762V6.838L1 4.239v7.923zM7.443.184a1.5 1.5 0 0 1 1.114 0l7.129 2.852A.5.5 0 0 1 16 3.5v8.662a1 1 0 0 1-.629.928l-7.185 2.874a.5.5 0 0 1-.372 0L.63 13.09a1 1 0 0 1-.63-.928V3.5a.5.5 0 0 1 .314-.464z"/>
              </svg>
              {{ candidacy.sigla_partido }} <strong>{{ candidacy.numero_sequencial }}</strong>
            </h2>
            <h3 class="fs-6 fw-bold election-text-primary">{{ candidacy.nome|lower|capfirst }}</h3>
            <div class="d-flex flex-column gap-1 my-4 small gap-3">
              {% for item in info_list %}
                <div>
                  <div class="fw-light">{{ item.label|upper }}</div>
                  <div
                    {% if item.type and item.type == 'tag' %}
                      class="badge rounded-pill text-bg-primary fw-normal"
                    {% endif %}
                  >
                    {{ item.value }}
                  </div>
                </div>
              {% endfor %}
              <p class="text-secondary mt-2 mb-0">[Disclaimer] texto editorial (não automático) que pode ser usado caso seja necessário adicionar alguma infirmação sobre a candidatura</p>
            </div>
            <button
              class="btn btn-sm btn-outline-secondary rounded-pill d-flex gap-2 align-items-center mb-3"
              onclick="copyCurrentLink()"
            >
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-share-fill" viewBox="0 0 16 16">
                <path d="M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.5 2.5 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5"/>
              </svg>
              Compartilhar
            </button>
          </article>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-9 pt-2">
      <div class="card border-0">
        <div class="mx-lg-3">
          <div class="accordion d-flex flex-column gap-2" id="accordionPanelsStayOpenExample">
            <div class="accordion-item accordion-item-custom">
              <h2 class="accordion-header accordion-header-custom">
                <button
                  class="accordion-button accordion-button-custom"
                  type="button" data-bs-toggle="collapse"
                  data-bs-target="#panelsStayOpen-collapseOne"
                  aria-expanded="true"
                  aria-controls="panelsStayOpen-collapseOne"
                >
                  <div class="d-flex justify-content-between w-100">
                    <div class="accordion-button-custom">BENS DECLARADOS</div>
                    <div class="me-4 accordion-button-custom">Patrimônio de R$ 235.924,00</div>
                  </div>
                </button>
              </h2>
              <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
                <div class="accordion-body accordion-body-custom">
                  <p>
                  <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                  </p>
                  <div class="table-responsive">
                    <table class="table table-bordered table-custom">
                      <thead>
                        <tr>
                          <th scope="col">Tipo</th>
                          <th scope="col">Descrição</th>
                          <th scope="col">Valor</th>
                        </tr>
                      </thead>
                      <tbody class="table-group-divider">
                        <tr>
                          <td>Casa</td>
                          <td>Imóvel Em Condominio Na Cidade de Itanhaém</td>
                          <td>R$ 500.000,00</td>
                        </tr>
                        <tr>
                          <td>Veículo automotor terrestre: caminhão, automóvel, moto, etc.</td>
                          <td>Fiat Fiorino</td>
                          <td>R$ 93.753,00</td>
                        </tr>
                        <tr>
                          <td>Dinheiro em espécie - moeda nacional</td>
                          <td>Em Espécie</td>
                          <td>R$ 12.000,00</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="accordion-item accordion-item-custom">
              <h2 class="accordion-header accordion-header-custom">
                <button
                  class="accordion-button accordion-button-custom collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#panelsStayOpen-collapseTwo"
                  aria-expanded="false"
                  aria-controls="panelsStayOpen-collapseTwo"
                  disabled
                >
                  <div class="d-flex justify-content-between w-100">
                    <div class="accordion-button-custom">EXEMPLO</div>
                    <div class="me-4 accordion-button-custom">Nenhum registro, por enquanto</div>
                  </div>
                </button>
              </h2>
              <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
                <div class="accordion-body accordion-body-custom"></div>
              </div>
            </div>
            <div class="accordion-item accordion-item-custom">
              <h2 class="accordion-header accordion-header-custom">
                <button
                  class="accordion-button accordion-button-custom"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#panelsStayOpen-collapseThree"
                  aria-expanded="false"
                  aria-controls="panelsStayOpen-collapseThree"
                >
                  <div class="d-flex justify-content-between w-100">
                    <div class="accordion-button-custom">EMPRESAS</div>
                    <div class="me-4 accordion-button-custom">6 registros</div>
                  </div>
                </button>
              </h2>
              <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse show">
                <div class="accordion-body accordion-body-custom">
                  Lorem ipsum odor amet, consectetuer adipiscing elit. Primis venenatis varius a nulla nibh sem elit ipsum. Ligula hac lorem tempor montes duis praesent rutrum. Ac est nostra viverra ut maximus a orci urna. Augue venenatis pretium; conubia facilisis non magnis. Posuere integer lacinia scelerisque nulla odio ligula!<br>
                  Sagittis sodales dui ullamcorper consectetur metus orci suspendisse arcu. Maximus per congue aptent, platea venenatis habitasse sit ornare. Vehicula sagittis eget magna finibus hendrerit class metus nunc. Curae sed consectetur dapibus mi efficitur. Egestas cubilia mus nostra adipiscing placerat ridiculus pretium mi egestas. Natoque vulputate ultrices molestie rhoncus hendrerit bibendum a. Id nullam tristique porta penatibus odio sodales torquent. Nunc felis massa facilisis nibh; penatibus condimentum nulla pulvinar? Ante rutrum vestibulum sapien maecenas suspendisse eleifend accumsan scelerisque.<br><br>
                  Semper pretium aenean porta neque fringilla aptent nunc arcu. Venenatis lorem ullamcorper maximus lacinia dignissim aptent inceptos integer. Malesuada nunc lobortis vulputate pharetra luctus bibendum commodo. Dis suspendisse suscipit eu tellus ridiculus. Vel himenaeos aliquet dictum dui pulvinar. Dictum pretium ultrices, hendrerit molestie quis hendrerit. Dolor integer et finibus, facilisi quisque nisl magna tempus fringilla. Tincidunt phasellus et scelerisque nunc elit malesuada rhoncus.<br><br>
                  Felis torquent eget ut taciti efficitur. Quis purus donec senectus inceptos facilisi varius taciti. Sociosqu duis tincidunt sodales maximus, nec sociosqu mauris habitant. Class fermentum etiam justo maecenas maecenas a torquent mus eros. Sollicitudin massa fames semper aliquam blandit rhoncus torquent conubia. Est inceptos venenatis tellus accumsan justo adipiscing cubilia laoreet purus. Ut interdum sapien leo sapien risus finibus praesent est id. Feugiat hendrerit diam libero ipsum eu. Ad nisi dis sit est pharetra mi ipsum finibus mi. Commodo vivamus in est, facilisi vel litora placerat.<br><br>
                  Facilisi tincidunt porta nullam facilisis nostra sodales efficitur. Risus quis fermentum nibh laoreet sapien sollicitudin rhoncus proin placerat. Commodo fermentum donec habitasse per erat consectetur nisl cursus. Volutpat parturient vehicula fusce imperdiet cursus odio faucibus est. Felis libero litora massa mattis; habitasse leo ridiculus amet. Fusce hendrerit morbi varius aliquet convallis curabitur? Tristique scelerisque lacus scelerisque platea placerat pulvinar proin. Et ex platea tristique diam iaculis.<br><br>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endwith %}
{% endblock %}
