  <div class="center">
    <a class="btn"
      href="https://blog.brasil.io/2020/03/23/dados-coronavirus-por-municipio-mais-atualizados/">
      Sobre o projeto
    </a>
    <a class="btn" href="{% url 'core:dataset-detail' 'covid19' %}">
      Dados completos
    </a>
    <a class="btn" href="https://github.com/turicas/covid19-br/tree/master/api.md">
      Documentação da API
    </a>
    <a class="btn" href="https://github.com/turicas/covid19-br/tree/master/clipping.md">
      Quem está usando
    </a>
    <a class="btn" href="{% url 'core:donate' %}">Apoie o projeto</a>
  </div>
