{% extends 'base.html' %}
{% load l10n %}
{% load static %}
{% block title %}Covid19 Boletins Diários - Brasil.IO{% endblock %}

{% block head %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/dataTables.material.min.css">
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/covid19-status.css' %}"/>
{% endblock %}

{% block content %}{% localize on %}
<div id="dashboard-header">
  <h1> ESPECIAL COVID-19 - Boletins Diários </h1>
  {% include 'covid19-text.html' %}
  {% include 'covid19-links.html' %}
  <p>Por questões de viabilidade e metodológicas, coletamos apenas das Secretarias Estaduais de Saúde e, por isso, podem ocorrer divergências com relação às Secretarias Municipais. Não pretendemos mudar essa prática (por favor, não insista).</p>
</div>

<div class="row">
  <div class="center" style="display: block">
    {% for bulletin in bulletins %}
      <div style="display: inline-block; width: 200px; height: auto; margin: 1em">
      <a href="{{ bulletin.image_url }}" target="_blank">
      <img src="{{ bulletin.image_url }}" width="200px" height="auto" alt="Boletim - {{ bulletin.date }}" title="Boletim - {{ bulletin.date }}"/>
      </a>
      <br><span>{{ bulletin.date }}</span>
      </div>
    {% endfor %}
  </div>
</div>
{% endlocalize %}
{% endblock %}
