{% extends 'base.html' %}
{% load l10n %}
{% load static %}
{% block title %}Covid19 por Município - Brasil.IO{% endblock %}

{% block head %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/dataTables.material.min.css">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
<link rel="stylesheet" href="{% static 'css/covid19-map.css' %}"/>
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" language="javascript" src="{% static 'js/covid19-table.js' %}"></script>
<script type="text/javascript" language="javascript" src="{% static 'js/covid19-map.js' %}"></script>
{% endblock %}

{% block content %}{% localize on %}
<div>
  <h1> ESPECIAL COVID-19 </h1>
  <h2> Dados por Município </h2>
  <p>
    Graças a uma força-tarefa de 35 voluntários que, diariamente, compilam
    boletins epidemiológicos das 27 Secretarias Estaduais de Saúde,
    disponibilizamos uma base de dados com a série histórica de casos e óbitos
    confirmados por município. Embora essenciais para o planejamento de
    políticas de contenção do novo coronavírus, os dados municipais não têm
    sido divulgados pelo Ministério da Saúde. Ainda como parte desse esforço
    contínuo de fornecer dados úteis relacionados à pandemia, disponibilizamos
    outras bases estruturadas, como população dos municípios afetados, óbitos
    suspeitos registrados em cartório etc.
  </p>
  <div class="center">
    <a class="btn"
      href="https://blog.brasil.io/2020/03/23/dados-coronavirus-por-municipio-mais-atualizados/">Saiba
      mais sobre o projeto</a>

    <a class="btn" href="{% url 'core:dataset-detail' 'covid19' %}">Acesse os dados
      completos</a>
    <a class="btn" href="{% url 'core:donate' %}">Apoie o projeto</a>
  </div>
</p>

<div class="row">
  {% for row in aggregate %}
  <div class="col s2">
    <div class="card">
      <div class="card-content teal-text card-title">
        <span class="tooltipped" data-position="bottom" data-tooltip="{{ row.tooltip }}">
          <i class="material-icons">info</i>
          {{row.title}}
        </span>
      </div>
      <div class="card-content card-body number">
        {{ row.value }} {% if row.value_percent %}({{ row.value_percent|floatformat:0 }}%){% endif %}
      </div>
    </div>
  </div>
  {% endfor %}
</div>

<div class="row">

  <div id="map-col" class="col xl12 l12 m12 s12">
    <div id="loading">
      <span class="center-align valign-wrapper">
        <img src="{% static 'img/loading.gif' %}" alt="Carregando" />
        &nbsp;
        Carregando mapa...
      </span>
    </div>
    <div id="map"></div>
    Nota: casos de municípios importados/indeterminados não estão
    representados no mapa.
  </div>

  <div id="table-col" class="col xl12 l12 m12 s12">
    <table class="table mdl-data-table" style="height: 600px">
      <thead>
        <tr>
          <th> Data de atualização </th>
          <th> Município </th>
          <th> UF </th>
          <th> Confirmados </th>
          <th> Confirmados por 100k hab. </th>
          <th> Mortes </th>
          <th> Mortalidade </th>
        </tr>
      </thead>

      <tbody>
        {% for row in city_data %}
        <tr>
          <td data-search="{{ row.date|date:"d/m/Y" }}" data-order="{% localize off %}{{ row.date_str }}{% endlocalize %}"> {{ row.date|date:"d/m/Y" }} </td>
          <td data-search="{{ row.city_str }} {{ row.city }}" data-order="{{ row.city_str }}"> {{ row.city }} </td>
          <td data-search="{{ row.state }}"> {{ row.state }} </td>
          <td data-order="{% localize off %}{{ row.confirmed }}{% endlocalize %}"> {{ row.confirmed }} </td>
          <td data-order="{% localize off %}{{ row.confirmed_per_100k_inhabitants }}{% endlocalize %}"> {{ row.confirmed_per_100k_inhabitants|floatformat:0 }} </td>
          <td data-order="{% localize off %}{{ row.deaths }}{% endlocalize %}"> {{ row.deaths }} </td>
          <td data-order="{% localize off %}{{ row.death_rate_percent }}{% endlocalize %}"> {{ row.death_rate_percent|floatformat:0 }}% </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <p class="right-align">
      <a class="btn" href="{% url 'core:dataset-table-detail' 'covid19' 'caso' %}?is_last=True&amp;place_type=city&amp;format=csv">
        Baixar dados em CSV
      </a>
    </p>
  </div>

  <!-- TODO: fix footer so we don't need this -->
  <p> <br> <br> <br> <br> <br> <br> <br> <br> </p>
</div>
</div>
{% endlocalize %}
{% endblock %}

{% block script %}
{{ block.super }}
<script type="text/javascript">
var dataURL = {
  cities: "{% url 'covid19:cities-cases' %}",
  stateGeoJSON: "https://data.brasil.io/dataset/shapefiles-brasil/0.01/BR-UF.geojson",
  cityGeoJSON: "{% url 'covid19:cities-geo' %}",
}
$(document).ready(function(){
  $('.tooltipped').tooltip();
});
</script>
{% endblock %}
