{% extends 'base.html' %}
{% load static %}
{% block title %}Voluntários COVID-19 - Brasil.IO{% endblock %}
{% block content %}
<div class="section">
  <h4>Voluntários COVID-19</h4>
  <div class="divider"></div>

  <div class="row text-center m-t-5">
    <p>
      A base de dados de casos e óbitos da COVID-19 é possível graças ao
      trabalho árduo de dezenas de pessoas que, diariamente, compilam os
      boletins epidemiológicos das 27 Secretarias Estaduais de Saúde,
      manualmente. Veja quem são, <i>em ordem aleatória</i>:
    </p>
  </div>

  <div class="row text-center m-t-5">
    {% for volunteer in volunteers %}
    <div class="col s12 m3 m-t-5 m-b-10">
      <span class="fa-stack fa-4x text-center">
        <a href="{{ volunteer.personal_url }}" target="_blank">
          <img class="circle responsive-img" src="{{ volunteer.avatar_url }}" alt="">
        </a>
      </span>
      <h6> <a href="{{  volunteer.personal_url }}">{{ volunteer.name }}</a> </h6>
    </div>
    {% endfor %}
  </div>

  <div class="row text-center m-t-5">
    <p>
      Além das pessoas que contribuem na coleta de dados, veja também as que <a
        href="https://apoia.se/brasilio"><b>contribuem financeiramente</b></a>
      e as que <a href="{% url 'core:contributors' %}"><b>contribuem com
          código</b></a>. Diversas outras pessoas também colaboram com
      <b>informações, sugestões, correções e na divulgação dos dados</b>.
    </p>
  </div>

</div>
{% endblock %}
