{% extends 'base.html' %}
{% block title %}Empresas - Busca - Brasil.IO{% endblock %}
{% block content %}
<div class="section">
  <h4>Empresas - Busca</h4>
  <p>
    <form method="get">
      <div class="input-field col s6">
        <label for="q">Busque por razão social ou CNPJ</label>
        <input autofocus type="text" id="q" name="q" value="{{ search_query|default:'' }}">
        <input class="btn" type="submit" value="Buscar">
      </div>
    </form>
  </p>
</div>

<div class="row">

  {% if search_query %}

    {% if not result.count %}
    Nenhum resultado encontrado. :(
    {% else %}
    Total de <b>{{ result.count }}</b> empresas encontradas
    {% if result.count > 500 %}
    (mostrando as <b>500</b> primeiras)
    {% endif %}
    <table>
      <tr>
        <th> CNPJ </th>
        <th> Razão Social </th>
      </tr>

      {% for document, name in result|slice:":500" %}
      <tr>
        <td> <a href="{% url 'core:special-company-detail' document=document %}">{{ document }}</a> </td>
        <td> {{ name }} </td>
      </tr>
      {% endfor %}
    </table>
    {% endif %}

  {% endif %}

</div>
{% endblock %}
