{% extends 'base.html' %}
{% load l10n %}
{% load static %}
{% load utils %}

{% block title %}Grupos Empresariais - Brasil.IO{% endblock %}

{% block content %}

{% include 'contas-gratuitas.html' %}

<div class="section">

  <form method="get">
    {{ form }}
    <input type="submit" value="Buscar" class="btn">
  </form>
</div>

<div class="section">
  <div class="row">

  {% if errors %}
    <h4>Erros</h4>
    {{ errors }}
  {% elif company %}
  <h4>Grupos Empresariais a que {{ company.name }} pertence:</h4>
  {% for node in nodes %}
    {% if 'EmpresaMae' in node.labels %}
      <div>
        <a href="{% url 'core:special-document-detail' document=node.cnpj_root %}?prefixo_cnpj=True">{{ node.nome }}</a>
      </div>
    {% endif %}
  {% empty %}
    <p>A empresa não pertence a nenhum grupo empresarial ou já é a raiz de um grupo empresarial</p>
  {% endfor %}
  {% endif %}
  </div>
</div>
{% endblock %}
