{% extends 'base.html' %}
{% block title %}{{ company.name }} - Empresa - Brasil.IO{% endblock %}
{% block content %}
<div class="section">
  <h4>{{ company.name }}</h4>

  Unidade federativa de registro: <b>{{ company.state }}</b>.
</div>

<div class="row">

  <h4>Quadro Societário</h4>
  Total de <b>{{ partners.count }}</b> sócios.
  <table>
    <tr>
      <th> Documento </th>
      <th> Tipo </th>
      <th> Qualificação </th>
      <th> Nome </th>
    </tr>

    {% for partner in partners %}
    <tr>
      <td>
        {% if partner.tipo_socio == 'Pessoa Jurídica' %}
        <a href="{% url 'core:special-company-detail' document=partner.cpf_cnpj_socio %}">{{ partner.cpf_cnpj_socio }}</a>
        {% else %}
        {{ partner.cpf_cnpj_socio|default:'' }}
        {% endif %}
      </td>
      <td> {{ partner.tipo_socio }} </td>
      <td> {{ partner.qualificacao_socio }} </td>
      <td> {{ partner.nome_socio }} </td>
    </tr>
    {% endfor %}
  </table>

  <h4>Gastos da Cota Parlmentar da Câmara dos Deputados</h4>
  {% if camara_spending.count == 0 %}
  Não foram identificados gastos para essa empresa.
  {% else %}
  Foram identificadas <b>{{ camara_spending.count }}</b> notas, mostrando
  apenas as <b>20</b> últimas (<a href="{{ camara_spending_url }}">veja todas</a>).
  <table>
    <tr>
      <th> Data da Emissão </th>
      <th> Parlamentar </th>
      <th> Partido </th>
      <th> UF </th>
      <th> Descrição </th>
      <th> Valor do Documento </th>
      <th> Valor Líquido </th>
      <th> Valor Glosa </th>
    </tr>

    {% for row in camara_spending|slice:':20' %}
    <tr>
      <td> {{ row.datemissao|date:"d/m/Y" }} </td>
      <td> {{ row.txnomeparlamentar }} </td>
      <td> {{ row.sgpartido }} </td>
      <td> {{ row.sguf }} </td>
      <td> {{ row.txtdescricao }}{% if row.txtdescricaoespecificacao %} / {{ row.txtdescricaoespecificacao }}{% endif %} </td>
      <td class="right-align"> R$ {{ row.vlrdocumento }} </td>
      <td class="right-align"> R$ {{ row.vlrliquido }} </td>
      <td class="right-align"> R$ {{ row.vlrglosa }} </td>
    </tr>
    {% endfor %}
  </table>
  {% endif %}

  <h4>Gastos Diretos do Governo Federal</h4>
  {% if federal_spending.count == 0 %}
  Não foram identificados gastos para essa empresa.
  {% else %}
  Foram identificadas <b>{{ federal_spending.count }}</b> notas, mostrando
  apenas as <b>20</b> últimas (<a href="{{ federal_spending_url }}">veja todas</a>).
  <table>
    <tr>
      <th> Mês/Ano </th>
      <th> Data de Pagamento </th>
      <th> Órgão </th>
      <th> Ação </th>
      <th> Número do Documento </th>
      <th> Valor </th>
    </tr>

    {% for row in federal_spending|slice:':20' %}
    <tr>
      <td> {{ row.mes }}/{{ row.ano }} </td>
      <td> {{ row.data_pagamento }} </td>
      <td> {{ row.nome_orgao }} </td>
      <td> {{ row.nome_acao }} </td>
      <td> {{ row.numero_documento }} </td>
      <td class="right-align"> R$ {{ row.valor }} </td>
    </tr>
    {% endfor %}
  </table>
  {% endif %}

</div>
{% endblock %}
