{% extends 'base.html' %}
{% load l10n %}
{% load utils %}
{% block title %}{{ obj.name }} - {% if obj.document_type == 'cpf' %}Pessoa Física{% elif obj.document_type == 'cnpj' %}Pessoa Jurídica{% endif %} - Brasil.IO{% endblock %}
{% block content %}{% localize off %}
<div class="section">
  <h4>{{ obj.name }}</h4>

  <dl>
    <dt> Documento: </dt>
    <dd>{% if encrypted %}{{ obj.document|obfuscate }}{% else %}{{ obj.document }}{% endif %} ({{ obj.document_type|upper }})</b></dd>
    {% if obj.state %}
    <dt> Unidade federativa de registro: </dt>
    <dd>{{ obj.state }}</b></dd>
    {% endif %}
  </dl>
</div>

<div class="row">

  {% if partners %}
  <h4>Quadro Societário</h4>
  Total de <b>{{ partners.count }}</b> sócios.
  <table>
    <tr>
      <th> Documento </th>
      <th> Tipo </th>
      <th> Qualificação </th>
      <th> Nome </th>
    </tr>

    {% for partner in partners %}
    <tr>
      <td>
        {% if partner.cpf_cnpj_socio %}
        <a href="{% url 'core:special-document-detail' document=partner.cpf_cnpj_socio %}">{{ partner.cpf_cnpj_socio }}</a>
        {% else %}
        {{ partner.cpf_cnpj_socio|default:'' }}
        {% endif %}
      </td>
      <td> {{ partner.tipo_socio }} </td>
      <td> {{ partner.qualificacao_socio }} </td>
      <td> {{ partner.nome_socio }} </td>
    </tr>
    {% endfor %}
  </table>
  {% endif %}

  {% if companies %}
  <h4>Sociedades</h4>
  Total de <b>{{ companies.count }}</b> sociedades encontradas.
  Nota: esses registros foram encontrados buscando pelo nome "{{ obj.name }}" e
  podem aparecer homônimos nos resultados.
  <table>
    <tr>
      <th> CNPJ </th>
      <th> Razão Social </th>
    </tr>

    {% for company in companies %}
    <tr>
      <td>
        <a href="{% url 'core:special-document-detail' document=company.cnpj_empresa %}">{{ company.cnpj_empresa }}</a>
      </td>
      <td> {{ company.nome_empresa }} </td>
    </tr>
    {% endfor %}
  </table>
  {% endif %}

  <h4>Gastos da Cota Parlamentar (Câmara dos Deputados)</h4>
  {% if camara_spending.count == 0 %}
  Não foram identificados gastos para esse documento.
  {% else %}
  Foram identificadas <b>{{ camara_spending.count }}</b> notas, mostrando
  apenas as <b>20</b> últimas
  (<a href="{% url 'api:dataset-data' slug='gastos-deputados' %}?txtcnpjcpf={{ obj.document }}">veja todas</a>).
  <table>
    <tr>
      <th> Data da Emissão </th>
      <th> Parlamentar </th>
      <th> Partido </th>
      <th> UF </th>
      <th> Descrição </th>
      <th> Valor do Documento </th>
      <th> Valor Glosa </th>
      <th> Valor Líquido </th>
    </tr>

    {% for row in camara_spending|slice:':20' %}
    <tr>
      <td> {{ row.datemissao|date:"d/m/Y" }} </td>
      <td> {{ row.txnomeparlamentar }} </td>
      <td> {{ row.sgpartido }} </td>
      <td> {{ row.sguf }} </td>
      <td> {{ row.txtdescricao }}{% if row.txtdescricaoespecificacao %} / {{ row.txtdescricaoespecificacao }}{% endif %} </td>
      <td class="right-align"> R$ {{ row.vlrdocumento }} </td>
      <td class="right-align"> R$ {{ row.vlrglosa }} </td>
      <td class="right-align"> R$ {{ row.vlrliquido }} </td>
    </tr>
    {% endfor %}
  </table>
  {% endif %}

  <h4>Gastos Diretos do Governo Federal</h4>
  {% if federal_spending.count == 0 %}
  Não foram identificados gastos para esse documento.
  {% else %}
  Foram identificadas <b>{{ federal_spending.count }}</b> notas, mostrando
  apenas as <b>20</b> últimas
  (<a href="{% url 'api:dataset-data' slug='gastos-diretos' %}?codigo_favorecido={{ obj.document }}">veja todas</a>).
  <table>
    <tr>
      <th> Mês/Ano </th>
      <th> Data de Pagamento </th>
      <th> Órgão </th>
      <th> Ação </th>
      <th> Número do Documento </th>
      <th> Valor </th>
    </tr>

    {% for row in federal_spending|slice:':20' %}
    <tr>
      <td> {{ row.mes }}/{{ row.ano }} </td>
      <td> {{ row.data_pagamento }} </td>
      <td> {{ row.nome_orgao }} </td>
      <td> {{ row.nome_acao }} </td>
      <td> <a href="http://portaldatransparencia.gov.br/despesasdiarias/pagamento?documento={{ row.codigo_unidade_gestora }}{{ row.gestao_pagamento }}{{ row.numero_documento }}"> {{ row.numero_documento }} </a> </td>
      <td class="right-align"> R$ {{ row.valor }} </td>
    </tr>
    {% endfor %}
  </table>
  {% endif %}

</div>
{% endlocalize %}{% endblock %}
