{% extends 'base.html' %}
{% block title %}Especiais - Brasil.IO{% endblock %}
{% block content %}

<h3>Aplicações Especiais</h3>
<div class="divider"></div>

<div class="section">
  <p>
    O Brasil.IO disponibiliza diversos datasets em formatos mais acessíveis
    que nas fontes originais de dados e acreditamos que assim conseguiremos
    não somente melhorar o acesso a dados públicos brasileiros, mas também
    gerar um impacto positivo para a criação de uma nação mais democrática. Porém,
    muitas vezes os datasets sozinhos não são suficientes para descobrir fatos
    - em diversos casos precisamos cruzar datasets para identificar padrões.
    Para resolver esse problema criamos as <b>Aplicações Especiais</b>.
  </p>
  <p>
    <b>Aplicações Especiais</b> são páginas que cruzam dados de diversos
    datasets e facilitam o trabalho investigativo. Se você tiver ideia de dados
    que poderíamos cruzar, <a href="{% url 'core:contact' %}">entre em contato</a>.
  </p>

  <h4>Aplicações Disponíveis</h4>

  <ul>
    <li>
      <b>Dossiê de Pessoa (Física ou Jurídica)</b> - a partir de uma <a
        href="{% url 'core:dataset-detail' slug='documentos-brasil' %}">busca
        por nome ou documento</a> o visitante poderá acessar um dossiê do
      documento (CPF ou CNPJ), onde serão mostradas ocorrências em vários
      datasets disponíveis no portal. Exemplo: <a href="{% url
        'core:special-document-detail' document='75095679000149'
        %}">Universidade Federal do Paraná</a>.
    </li>
    <li>
      <a href="{% url 'core:special-trace-path' %}">Caminhos nas relações
        pessoais (física e/ou jurídica)</a> - a partir de duas pessoas (físicas
      e/ou jurídicas) o visitante conseguirá verificar a existência de uma
      relação de sociedade, independente do nível (exemplo: A é sócio da
      empresa X, que é sócia da empresa Y e tem como sócio também Z - dessa
      forma, A é indiretamente sócio de Z). Exemplo real:
      <a href="{% url 'core:special-trace-path' %}?origin_type=pessoa-juridica&origin_identifier=15102288000182&destination_type=pessoa-juridica&destination_identifier=61065751000180">qual a
        ligação entre a Rossi Residencial SA e a Construtora Norberto Odebrecht
      SA?</a>
    </li>
  </ul>
</div>
{% endblock %}
