{% extends 'base.html' %}
{% block title %}Registro Nacional - Busca - Brasil.IO{% endblock %}
{% block content %}

<div class="col s12 m12">
  <div class="card horizontal">
    <div class="card-stacked">
      <div class="card-content">
        <h4>
          <i class="material-icons">info</i>
          Contas Gratuitas
        </h4>
        <p>
          Essa página é restrita a quem possui uma conta no Brasil.IO.
          Durante nossa fase BETA as contas serão todas gratuitas - após esse
          período será necessária a assinatura do site para acessar todas as
          páginas restritas.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <h4>Registro Nacional</h4>
  <p>
    <form method="get">
      <div class="input-field col s6">
        <label for="q">Busque por nome, CPF, razão social ou CNPJ</label>
        <input autofocus type="text" id="q" name="q" value="{{ query|default:'' }}">
        <input class="btn" type="submit" value="Buscar">
      </div>
    </form>
  </p>
</div>

<div class="row">

  {% if query %}

    {% if not data.count %}
    Nenhum resultado encontrado. :(
    {% else %}
    Total de <b>{{ data.count }}</b> registros encontrados (entre pessoas
    físicas e jurídicas){% if data.count > 500 %}, mostrando os <b>500</b>
    primeiros).{% else %}.{% endif %}

    {% include 'data-table.html' %}

    {% endif %}

  {% endif %}

</div>
{% endblock %}
