{% extends 'base.html' %}
{% block title %}Registro Nacional - Busca - Brasil.IO{% endblock %}
{% block content %}
<div class="section">
  <h4>Registro Nacional</h4>
  <p>
    <form method="get">
      <div class="input-field col s6">
        <label for="q">Busque por nome, CPF, razão social ou CNPJ</label>
        <input autofocus type="text" id="q" name="q" value="{{ query|default:'' }}">
        <input class="btn" type="submit" value="Buscar">
      </div>
    </form>
  </p>
</div>

<div class="row">

  {% if query %}

    {% if not result.count %}
    Nenhum resultado encontrado. :(
    {% else %}
    Total de <b>{{ result.count }}</b> registros encontrados (entre pessoas
    físicas e jurídicas){% if result.count > 500 %}, mostrando os <b>500</b>
    primeiros).{% else %}.{% endif %}
    <table>
      <tr>
        <th> Tipo de Documento </th>
        <th> Documento </th>
        <th> Nome </th>
      </tr>

      {% for row in result|slice:":500" %}
      <tr>
        <td> {{ row.document_type|upper }} </td>
        <td>
          <a href="{% url 'core:special-document-detail' document=row.document %}">{{ row.document }}</a>
        </td>
        <td> {{ row.name }} </td>
      </tr>
      {% endfor %}
    </table>
    {% endif %}

  {% endif %}

</div>
{% endblock %}
