{% extends 'base.html' %}
{% load l10n %}
{% load static %}
{% load utils %}

{% block title %}Traçador de Caminhos - Brasil.IO{% endblock %}

{% block content %}

<div class="col s12 m12">
  <div class="card horizontal">
    <div class="card-stacked">
      <div class="card-content">
        <h4>
          <i class="material-icons">info</i>
          Contas Gratuitas
        </h4>
        <p>
          Essa página é restrita a quem possui uma conta no Brasil.IO.
          Durante nossa fase BETA as contas serão todas gratuitas - após esse
          período será necessária a assinatura do site para acessar todas as
          páginas restritas.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="section">

  <form method="get">
    {{ form }}
    <input type="submit" value="Traçar" class="btn">
  </form>
</div>

<div class="section">
  <div class="row">

  {% if errors %}
    <h4>Erros</h4>
    {{ errors }}
  {% elif nodes %}
  <h4>Caminho entre {{ origin_name }} e {{ destination_name }}</h4>
  {% for node in nodes %}
    <div>
      {% if node.tipo == 'PessoaJuridica' or node.tipo == 'EmpresaMae' %}
      <a href="{% url 'core:special-document-detail' document=node.cnpj_root %}?prefixo_cnpj=True">{{ node.nome }}</a>
      {% else %}
      <a href="{% url 'core:dataset-table-detail' 'socios-brasil' 'socios' %}?nome_socio={{ node.nome }}">{{ node.nome }}</a>
      {% endif %}
    </div>
    {% endfor %}
  {% endif %}
  </div>
</div>
{% endblock %}

{% block script %}
{{ block.super }}
<script type="text/javascript">
$(document).ready(function() {
  $('select').formSelect();
});
</script>
{% endblock %}
