nav.nav-state-selector ul li {
  list-style-type: none; 
  display: inline-block; 
  float: none!important;
}

nav.nav-state-selector ul {
  white-space: nowrap;
  overflow-x: auto; 
  overflow-y: hidden; 
  width: 100%;
  background-image: linear-gradient(to right, #3f51b5, #3f51b5),linear-gradient(to right, #3f51b5, #3f51b5),linear-gradient(to right, rgba(0,0,0,.25), rgba(255,255,255,0)),linear-gradient(to left, rgba(0,0,0,.25), rgba(255,255,255,0));   
  background-position: left center, right center, left center, right center;
  background-repeat: no-repeat;
  background-color: #3f51b5;
  background-size: 20px 100%, 20px 100%, 10px 100%, 10px 100%;
  background-attachment: local, local, scroll, scroll;
}

#map {
  margin-top: -40px;
  min-height: 850px;
}

.card > .card-content.card-body.number{
  font-weight: bold;
  font-size: 1.5em;
  height: 2em;
  text-align: center;
}

#dashboard-links {
  margin-bottom: 20px;
  overflow: auto;
  white-space: nowrap;
}

#dashboard-links a {
  display: inline-block;
  margin: 5px;
}

.chart{
  height: 50vh;
  margin-bottom: 80px;
  padding: 15px 20px;
}

.info {
  padding: 6px 8px;
  font: 14px/16px sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}
.info h4 {
  margin: 0 0 5px;
  color: #777;
}

.legend i {
  width: 18px;
  line-height: inherit;
  margin-right: 8px;
  display: inline-block;
  height: 18px;
}

.legend > label {
  color: #000;
}
.legend > input {
  color: #000;
  font-size: 1em;
}

#loading {
  position: relative;
  z-index: 999;
  margin-bottom: 0px;
  margin-left: 50px;
  height: 40px;
  padding-top: 10px;
}
#loading > span > img {
  width: 20px;
  height: 20px;
}

.dataTables_filter label {
  float: left;
  font-size: 1.5em;
  text-align: left;
  width: 100%;
}
.dataTables_wrapper .dataTables_filter input[type=search] {
  float: right;
  width: calc(100% - 7rem);
}

/* 
  Css para manter style da dashboard covid19
  com estilos de espaçamento e cards diferentes
  das outras telas do sistema.
*/
.container {
  padding: 10px;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
  color: #1A237E !important;
  margin-right: 10px;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
  text-transform: uppercase;
  font-weight: bold;
}

.card .card-content {
  padding: 0 0.5em 0.5em 0.5em;
}

.card .card-title {
  font-size: 1.5em;
  font-weight: 300;
}

.card .card-content.card-body {
  min-height: 100px;
}

.card.small .card-description {
  color: rgba(0,0,0,0.87);
}

.container {
  margin: 0 auto;
  width: 90%;
  max-width: 100%;
}
@media only screen and (min-width: 601px) {
  .container {
    width: 90%;
  }
}
@media only screen and (min-width: 993px) {
  .container {
    width: 90%;
  }
}

/* 
  Style de data cards
*/

.data-card {
  display: flex;
  align-items: center;
  height: 130px;
}

.data-card .card-content p:first-child {
  color:rgb(75, 75, 75) !important;
  font-size: 14px;
  font-weight: 600;
  padding: 5px 0;
}

.data-card .card-content .number {
  color:rgb(53, 53, 53) !important;
  font-size: 25px;
  font-weight: 500;
}

.data-card .card-content .percent {
  font-size: 13px;
}

h1 {
  font-size: 25px;
  margin-bottom: 25px;
  margin-left: 7px;
}