*.egg-info/
*.ipynb
*.pyc
*~
.*.sw?
.DS_Store
.cache
.coverage
.directory
.env
.idea/*
.ipynb_checkpoints/
.pytest_cache/
.sass-cache
.tox
MANIFEST
__pycache__/
build/*
data/*
dist/*
docker/neo4j
docker/redis
docker/postgres/data
public/
reg_settings.py
.vscode/
population.csv
schema-population.csv
