*.csv.gz
*.egg-info/
*.ipynb
*.pyc
*~
.*.sw?
.DS_Store
.bash_history
.cache
.coverage
.directory
.env
.idea/*
.ipynb_checkpoints/
.ipython/
.local/
.psql_histor
.psql_history
.pytest_cache/
.sass-cache
.tox
.vscode/
MANIFEST
__pycache__/
build/*
data-populacao-estimada-2019.csv
data-populacao-por-municipio-2020.csv
data/*
dist/*
docker/data
docker/env/*.local
population.csv
public/
reg_settings.py
schema-populacao-estimada-2019.csv
schema-populacao-por-municipio.csv
schema-population.csv
