# Docker settings
POSTGRES_HOST=localhost
POSTGRES_PORT=39001
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=brasilio
GRAPHENEDB_URL="http://localhost:39002"
NEO4J_BOLT_PORT=39003

# Django settings
ALLOWED_HOSTS=*
APP_HOST="localhost:8000"
BLOCKED_AGENTS="Wget,curl,python-requests,Python-urllib"
DATABASE_URL=postgres://postgres:postgres@127.0.0.1:39001/brasilio
DATA_URL="https://docs.google.com/spreadsheets/d/1-hw07Q7PBGlz2QjOifkwM3T8406OqsGOAWA-fikgW8c/export?format=xlsx"
DEBUG=True
DEBUG_SQL=True
PRODUCTION=False
SECRET_KEY=012345678901234567890123456789
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=localhost
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_PORT=39004
EMAIL_USE_TLS=False
ADMINS="programmer|email@example.com"
FERNET_KEY="1Vo_8aX-WIKEyOWsusu8SHdMDc258elXTN4-WYu_9MQ="
RECAPTCHA_PUBLIC_KEY="CHAVE_PUBLICA_RECAPTCHA"
RECAPTCHA_PRIVATE_KEY="CHAVE_PRIVADA_RECAPTCHA"
DISABLE_RECAPTCHA=True
REDIS_URL=redis://localhost:39006
CACHE_ENABLED=True
CACHE_BACKEND=django_redis.cache.RedisCache
CACHE_CLIENT_CLASS=django_redis.client.DefaultClient
CACHE_KEY_PREFIX=datacache
WORKERS=4
DEFAULT_FILE_STORAGE="django.core.files.storage.FileSystemStorage"
STATICFILES_STORAGE="django.contrib.staticfiles.storage.StaticFilesStorage"
THROTTLING_RATE=""
RATELIMIT_ENABLE=False
RATELIMIT_RATE="50/m"
ENABLE_API_AUTH=True

# If using AWS storage, you'll have to populate these values
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
AWS_STORAGE_BUCKET_NAME=""
AWS_DEFAULT_ACL=""
AWS_BUCKET_ACL=""
AWS_AUTO_CREATE_BUCKET=False
AWS_S3_ENDPOINT_URL=""
AWS_S3_CUSTOM_DOMAIN=""
AWS_IS_GZIPPED=False
GZIP_CONTENT_TYPES=""

ROCKETCHAT_BASE_URL=""
ROCKETCHAT_USERNAME=""
ROCKETCHAT_PASSWORD=""

MINIO_STORAGE_MEDIA_BUCKET_NAME="brasilio"
MINIO_STORAGE_STATIC_BUCKET_NAME="brasilio-static"
MINIO_STORAGE_DATASETS_BUCKET_NAME="testdataset"
SENTRY_DSN=""

CSV_EXPORT_MAX_ROWS=10000
RQ_BLOCKED_REQUESTS_LIST="blocked_reqs"


CLOUDFLARE_AUTH_EMAIL="foo@foo.com"
CLOUDFLARE_AUTH_KEY="bar"
CLOUDFLARE_ACCOUNT_NAME="account name"
CLOUDFLARE_BLOCKED_IPS_RULE="blocked_ips_rule"

# Django registration
ACCOUNT_ACTIVATION_DAYS=7
REGISTRATION_SALT="registration_salt"
REGISTRATION_OPEN=True
