boto3==1.12.39
cached_property
cachetools
click
cryptography
dataclasses
django-cachalot
django-cache-memoize
django-cors-headers
django-environ
django-extensions
django-localflavor==3.0.1
django-markdownx
django-minio-storage==0.3.7
django-recaptcha
django-redis
django-rq==2.3.2
django-storages==1.9.1
django>=2.0
djangorestframework
gunicorn
https://github.com/turicas/rows/archive/develop.zip#egg=rows
ipython
jinja2
lxml==4.5.0
markdown
networkx==2.1
openpyxl
psycopg2-binary
py2neo==3.1.2
pytest-django==3.2.1
pytz
requests
requests-cache
sendgrid-django
sentry-sdk==0.14.3
six>=1.13
tqdm
xlrd
xlwt
retry==0.9.2
whitenoise==5.0.1
sorl-thumbnail==12.6.3