django-cors-headers
django-environ
django-extensions
django-naomi
django>=2.0
djangorestframework
git+https://github.com/turicas/rows.git@develop#egg=rows
gunicorn
ipython
markdown
openpyxl
psycopg2-binary
sendgrid-django
tqdm
whitenoise
