click
cryptography
dataclasses
django-cors-headers
django-naomi
django-environ
django-extensions
django-recaptcha
django>=2.0
djangorestframework
git+https://github.com/turicas/rows.git@develop#egg=rows
gunicorn
ipython
markdown
networkx==2.1
openpyxl
psycopg2-binary
py2neo==3.1.2
pytest-django==3.2.1
requests
requests-cache
sendgrid-django
tqdm
whitenoise
xlrd
xlwt
