<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relatório</title>

    <link rel="stylesheet" type="text/css" href="./index-relatorio.css"/>

    <script type="text/javascript" src="./index-relatório.js"></script>
  </head>

  <body>
    <nav class="header">
      <div class="left-column"><img src="./logo.png" alt=""></div><div class="right-column"><font>brasil.io/covid19</font></div>
    </nav>

    <div class="container">
      <div class="left-column">
        <div class="report-resume">
          <div class="row-1">
            <font class="open-sans bold">Brasil</font>
            <font class="roboto weight-400 date">25/06/2020</font>
          </div>
          <div class="row-2">
            <p class="open-sans bold no-margin-bottom title">Casos</p>
            <p class="open-sans no-margin title info-count-total">1.233.475</p>
            <div class="title">
              <font class="open-sans">40.933</font>
              <font class="open-sans small">novos</font>
            </div>
          </div>
          <div class="row-3">
            <p class="open-sans bold no-margin-bottom title">Mortes</p>
            <p class="open-sans no-margin title info-count-total">1.233.475</p>
            <div class="title">
              <font class="open-sans">40.933</font>
              <font class="open-sans small">novas</font>
            </div>
          </div>
        </div>
        <div class="collected-data-info">
          <font>Fechamento dos dados às 20h.</font>
          <font>Dados coletados das secretarias estaduais de saúde.</font>
          <font>Possíveis divergências se devem ao horário de atualização e coleta.</font>
          <font>* Dados do dia não divulgados pelos estados até o fechamento deste boletim.&nbsp;</font>
          <font>** Atualizado com dados do Ministério da Saúde.</font>
        </div>
      </div>
      <div class="right-column">
        <div class="corona-table">
          <table>
            <thead>
              <tr>
                <th>UF</th>
                <th>data do boletim</th>
                <th>data dos dados</th>
                <th class="custom-size-header">casos</th>
                <th class="custom-size-header">mortes</th>
              </tr>
            </thead>
            <tbody>
              <tr class="updated">
                <td>SP*</td>
                <td>23 de jun. de 2020</td>
                <td>23 de jun. de 2020</td>
                <td><div class="bar-amount">229.475</div> <div class="cases-bar bar" style="width: 138px;"></div></td>
                <td><div class="bar-amount">13.068</div> <div class="deaths-bar bar" style="width: 105px;"></div></td>
              </tr>
              <tr class="updated">
                <td>RJ*</td>
                <td>23 de jun. de 2020</td>
                <td>23 de jun. de 2020</td>
                <td><div class="bar-amount">100.869</div> <div class="cases-bar bar" style="width: 56px;"></div></td>
                <td><div class="bar-amount">9.153</div> <div class="deaths-bar bar" style="width: 78px;"></div></td>
              </tr>
              <tr>
                <td>CE</td>
                <td>23 de jun. de 2020</td>
                <td>23 de jun. de 2020</td>
                <td><div class="bar-amount">100.869</div> <div class="cases-bar bar" style="width: 56px;"></div></td>
                <td><div class="bar-amount">9.153</div> <div class="deaths-bar bar" style="width: 78px;"></div></td>
              </tr>
              <tr>
                <td>PA</td>
                <td>23 de jun. de 2020</td>
                <td>23 de jun. de 2020</td>
                <td><div class="bar-amount">100.869</div> <div class="cases-bar bar" style="width: 56px;"></div></td>
                <td><div class="bar-amount">9.153</div> <div class="deaths-bar bar" style="width: 78px;"></div></td>
              </tr>
              <tr>
                <td>MA</td>
                <td>23 de jun. de 2020</td>
                <td>23 de jun. de 2020</td>
                <td><div class="bar-amount">100.869</div> <div class="cases-bar bar" style="width: 56px;"></div></td>
                <td><div class="bar-amount">9.153</div> <div class="deaths-bar bar" style="width: 78px;"></div></td>
              </tr>
              <tr>
                <td>AM</td>
                <td>23 de jun. de 2020</td>
                <td>23 de jun. de 2020</td>
                <td><div class="bar-amount">100.869</div> <div class="cases-bar bar" style="width: 56px;"></div></td>
                <td><div class="bar-amount">9.153</div> <div class="deaths-bar bar" style="width: 78px;"></div></td>
              </tr>
              <tr>
                <td>BA</td>
                <td>23 de jun. de 2020</td>
                <td>23 de jun. de 2020</td>
                <td><div class="bar-amount">100.869</div> <div class="cases-bar bar" style="width: 56px;"></div></td>
                <td><div class="bar-amount">9.153</div> <div class="deaths-bar bar" style="width: 78px;"></div></td>
              </tr>
              <tr>
                <td>PE</td>
                <td>23 de jun. de 2020</td>
                <td>23 de jun. de 2020</td>
                <td><div class="bar-amount">100.869</div> <div class="cases-bar bar" style="width: 56px;"></div></td>
                <td><div class="bar-amount">9.153</div> <div class="deaths-bar bar" style="width: 78px;"></div></td>
              </tr>
              <tr>
                <td>DF</td>
                <td>23 de jun. de 2020</td>
                <td>23 de jun. de 2020</td>
                <td><div class="bar-amount">100.869</div> <div class="cases-bar bar" style="width: 56px;"></div></td>
                <td><div class="bar-amount">9.153</div> <div class="deaths-bar bar" style="width: 78px;"></div></td>
              </tr>
              <tr>
                <td>PB</td>
                <td>23 de jun. de 2020</td>
                <td>23 de jun. de 2020</td>
                <td><div class="bar-amount">100.869</div> <div class="cases-bar bar" style="width: 56px;"></div></td>
                <td><div class="bar-amount">9.153</div> <div class="deaths-bar bar" style="width: 78px;"></div></td>
              </tr>
              <tr>
                <td>ES</td>
                <td>23 de jun. de 2020</td>
                <td>23 de jun. de 2020</td>
                <td><div class="bar-amount">100.869</div> <div class="cases-bar bar" style="width: 56px;"></div></td>
                <td><div class="bar-amount">9.153</div> <div class="deaths-bar bar" style="width: 78px;"></div></td>
              </tr>
              <tr>
                <td>MG</td>
                <td>23 de jun. de 2020</td>
                <td>23 de jun. de 2020</td>
                <td><div class="bar-amount">100.869</div> <div class="cases-bar bar" style="width: 56px;"></div></td>
                <td><div class="bar-amount">9.153</div> <div class="deaths-bar bar" style="width: 78px;"></div></td>
              </tr>
              <tr>
                <td>AL</td>
                <td>23 de jun. de 2020</td>
                <td>23 de jun. de 2020</td>
                <td><div class="bar-amount">100.869</div> <div class="cases-bar bar" style="width: 56px;"></div></td>
                <td><div class="bar-amount">9.153</div> <div class="deaths-bar bar" style="width: 78px;"></div></td>
              </tr>
              <tr>
                <td>AP</td>
                <td>23 de jun. de 2020</td>
                <td>23 de jun. de 2020</td>
                <td><div class="bar-amount">100.869</div> <div class="cases-bar bar" style="width: 56px;"></div></td>
                <td><div class="bar-amount">9.153</div> <div class="deaths-bar bar" style="width: 78px;"></div></td>
              </tr>
              <tr>
                <td>RS</td>
                <td>23 de jun. de 2020</td>
                <td>23 de jun. de 2020</td>
                <td><div class="bar-amount">100.869</div> <div class="cases-bar bar" style="width: 56px;"></div></td>
                <td><div class="bar-amount">9.153</div> <div class="deaths-bar bar" style="width: 78px;"></div></td>
              </tr>
              <tr>
                <td>SE</td>
                <td>23 de jun. de 2020</td>
                <td>23 de jun. de 2020</td>
                <td><div class="bar-amount">100.869</div> <div class="cases-bar bar" style="width: 56px;"></div></td>
                <td><div class="bar-amount">9.153</div> <div class="deaths-bar bar" style="width: 78px;"></div></td>
              </tr>
              <tr>
                <td>SC</td>
                <td>23 de jun. de 2020</td>
                <td>23 de jun. de 2020</td>
                <td><div class="bar-amount">100.869</div> <div class="cases-bar bar" style="width: 56px;"></div></td>
                <td><div class="bar-amount">9.153</div> <div class="deaths-bar bar" style="width: 78px;"></div></td>
              </tr>
              <tr>
                <td>RN</td>
                <td>23 de jun. de 2020</td>
                <td>23 de jun. de 2020</td>
                <td><div class="bar-amount">100.869</div> <div class="cases-bar bar" style="width: 56px;"></div></td>
                <td><div class="bar-amount">9.153</div> <div class="deaths-bar bar" style="width: 78px;"></div></td>
              </tr>
              <tr>
                <td>GO</td>
                <td>23 de jun. de 2020</td>
                <td>23 de jun. de 2020</td>
                <td><div class="bar-amount">100.869</div> <div class="cases-bar bar" style="width: 56px;"></div></td>
                <td><div class="bar-amount">9.153</div> <div class="deaths-bar bar" style="width: 78px;"></div></td>
              </tr>
              <tr>
                <td>PR</td>
                <td>23 de jun. de 2020</td>
                <td>23 de jun. de 2020</td>
                <td><div class="bar-amount">100.869</div> <div class="cases-bar bar" style="width: 56px;"></div></td>
                <td><div class="bar-amount">9.153</div> <div class="deaths-bar bar" style="width: 78px;"></div></td>
              </tr>
              <tr>
                <td>RO</td>
                <td>23 de jun. de 2020</td>
                <td>23 de jun. de 2020</td>
                <td><div class="bar-amount">100.869</div> <div class="cases-bar bar" style="width: 56px;"></div></td>
                <td><div class="bar-amount">9.153</div> <div class="deaths-bar bar" style="width: 78px;"></div></td>
              </tr>
              <tr>
                <td>PI</td>
                <td>23 de jun. de 2020</td>
                <td>23 de jun. de 2020</td>
                <td><div class="bar-amount">100.869</div> <div class="cases-bar bar" style="width: 56px;"></div></td>
                <td><div class="bar-amount">9.153</div> <div class="deaths-bar bar" style="width: 78px;"></div></td>
              </tr>
              <tr>
                <td>MT</td>
                <td>23 de jun. de 2020</td>
                <td>23 de jun. de 2020</td>
                <td><div class="bar-amount">100.869</div> <div class="cases-bar bar" style="width: 56px;"></div></td>
                <td><div class="bar-amount">9.153</div> <div class="deaths-bar bar" style="width: 78px;"></div></td>
              </tr>
              <tr>
                <td>RR</td>
                <td>23 de jun. de 2020</td>
                <td>23 de jun. de 2020</td>
                <td><div class="bar-amount">100.869</div> <div class="cases-bar bar" style="width: 56px;"></div></td>
                <td><div class="bar-amount">9.153</div> <div class="deaths-bar bar" style="width: 78px;"></div></td>
              </tr>
              <tr>
                <td>AC</td>
                <td>23 de jun. de 2020</td>
                <td>23 de jun. de 2020</td>
                <td><div class="bar-amount">100.869</div> <div class="cases-bar bar" style="width: 56px;"></div></td>
                <td><div class="bar-amount">9.153</div> <div class="deaths-bar bar" style="width: 78px;"></div></td>
              </tr>
              <tr>
                <td>TO</td>
                <td>23 de jun. de 2020</td>
                <td>23 de jun. de 2020</td>
                <td><div class="bar-amount">100.869</div> <div class="cases-bar bar" style="width: 56px;"></div></td>
                <td><div class="bar-amount">9.153</div> <div class="deaths-bar bar" style="width: 78px;"></div></td>
              </tr>
            </tbody>
          </table>
          <div class="info-wrap">
            <div class="cases base">
              <p class="marker cases-base-marker"></p>
              <p id="casesBase" class="info-text"></p>
            </div>
            <div class="cases middle">
              <p class="marker cases-middle-marker"></p>
              <p id="casesMiddle" class="info-text"></p>
            </div>
            <div class="cases final">
              <p class="marker cases-final-marker"></p>
              <p id="casesFinal" class="info-text"></p>
            </div>
            <div class="deaths base">
              <p class="marker deaths-base-marker"></p>
              <p id="deathsBase" class="info-text"></p>
            </div>
            <div class="deaths middle">
              <p class="marker deaths-middle-marker"></p>
              <p id="deathsMiddle" class="info-text"></p>
            </div>
            <div class="deaths final">
              <p class="marker deaths-final-marker"></p>
              <p id="deathsFinal" class="info-text"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

