{% extends 'base.html' %}
{% load l10n %}
{% load static %}
{% block title %}Covid19 por Município - Brasil.IO{% endblock %}

{% block head %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
  integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
  crossorigin="" />
<link rel="stylesheet" type="text/css" href="{% static 'css/dataTables.bootstrap5.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/dataTables.responsive.bootstrap5.min.css' %}">
{% endblock %}

{% block nav %}
{% include 'covid19/links.html' %}
{% endblock %}

{% block content %}{% localize on %}
<div class="bg-body-tertiary">
  {% include 'covid19/text.html' %}
  <section class="section-dashboard">
    <div class="row">
      <div class="col-md-6">
        <h1 class="fs-3">
          {% if not state %}
          Localidade: Brasil
          {% else %}
          Localidade: {{ state_name }}
          {% endif %}
        </h1>
      </div>
      <div class="col-md-6">
        <select id="state-select" class="form-select form-select-lg" aria-label="Seletor de estado a ser exibido"
          data-bs-toggle="tooltip" data-bs-placement="top" title="Selecione uma localidade a ser exibida no dashboard">
          <option value="{% url 'covid19:dashboard' %}" {% if not state %} selected {% endif %}>Brasil</option>
          {% for state_data in states %}
          <option {% if state == state_data.acronym %} selected {% endif %}
            value="{% url 'covid19:dashboard' state_data.acronym %}">
            {{ state_data.acronym }}
          </option>
          {% endfor %}
        </select>
      </div>
    </div>
  </section>

  <template id="card-template">
    <div class="col-md-4 col-xl-2">
      <div class="card-dashboard shadow-sm border-0 border-primary border-start border-4 card-data"
        data-bs-toggle="tooltip" data-bs-placement="bottom" title="">
        <div class="card-body placeholder-glow">
          <h2 class="small text-uppercase" data-title>
            <span class="placeholder col-7"></span>
          </h2>
          <div class="d-flex align-items-end gap-2">
            <h3 class="h4 mb-0 fw-bold font-monospace" data-value>
              <span class="placeholder value-percent"></span>
            </h3>
            <div class="small font-monospace" data-percent>
              <span class="placeholder value-percent"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </template>

  <section class="section-dashboard">
    <div class="row g-2 grid-cards"></div>
  </section>

  <div class="container-map-table">
    <div class="row gy-2">
      <!-- Map -->
      <div class="col-xxxl-6">
        <div class="card-dashboard">
          <div class="card-body">
            <div id="loading">
              <span>
                <img src="{% static 'covid19/img/loading.gif' %}" alt="Carregando" />
                &nbsp;
                Carregando mapa...
              </span>
            </div>
            <div id="map" class="leaflet-container leaflet-retina leaflet-fade-anim leaflet-grab leaflet-touch-drag">
            </div>
            <label class="small">Nota: casos importados não estão representados no mapa.</label>
          </div>
        </div>
      </div>
      <!-- Table -->
      <div class="col-xxxl-6">
        <div class="card-dashboard pt-2">
          <div class="card-body">
            <div class="row">
              <div class="table-responsive p-2">
                <table class="table table-striped table-hover table-bordered dt-responsive w-100">
                </table>
                <a class="btn btn-outline-primary mt-2" href="
                  {% url 'core:dataset-table-detail' 'covid19' 'caso' %}?is_last=True&amp;place_type=city
                  {% if state %}
                    &amp;state={{ state }}
                  {% endif %}
                  &amp;format=csv">
                  Baixar dados em CSV
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="charts">
    <!-- Charts -->
    <div class="row g-2 pb-4">
      <div class="col-xl-6">
        <div class="card-dashboard">
          <div class="card-body">
            <div class="chart">
              <canvas id="case-daily-chart-1"></canvas>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-6">
        <div class="card-dashboard">
          <div class="card-body">
            <div class="chart">
              <canvas id="death-daily-chart-1"></canvas>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-6">
        <div class="card-dashboard">
          <div class="card-body">
            <div class="chart">
              <canvas id="case-daily-chart-2"></canvas>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-6">
        <div class="card-dashboard">
          <div class="card-body">
            <div class="chart">
              <canvas id="death-daily-chart-2"></canvas>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-6">
        <div class="card-dashboard">
          <div class="card-body">
            <div class="chart">
              <canvas id="death-weekly-2020-chart"></canvas>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-6">
        <div class="card-dashboard">
          <div class="card-body">
            <div class="chart">
              <canvas id="death-weekly-years-chart"></canvas>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-6">
        <div class="card-dashboard">
          <div class="card-body">
            <div class="chart">
              <canvas id="death-weekly-excess-chart-1"></canvas>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-6">
        <div class="card-dashboard">
          <div class="card-body">
            <div class="chart">
              <canvas id="death-weekly-excess-chart-2"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Passing django vars to javascript -->
{{ state|json_script:"state" }}
{{ state_id|json_script:"stateId" }}
{{ city_id|json_script:"cityId" }}
{{ city_slug|json_script:"citySlug" }}

{% url 'covid19:cities-cases' as cities_cases %}
{{ cities_cases|json_script:"citiesCases" }}
{% url 'covid19:states-geo' as states_geo %}
{{ states_geo|json_script:"statesGeo" }}
{% url 'covid19:cities-geo' as cities_geo %}
{{ cities_geo|json_script:"citiesGeo" }}
{% url 'covid19:historical-daily' as historicaldaily %}
{{ historicaldaily|json_script:"historicalDaily" }}
{% url 'covid19:historical-weekly' as historicalweekly %}
{{ historicalweekly|json_script:"historicalWeekly" }}
{% static 'dataTables-ptBR.json' as dataTablesptBR %}
{{ dataTablesptBR|json_script:"dataTablesPtBR" }}

{% endlocalize %}
{% endblock %}

{% block bodyscript %}
{{ block.super }}
<script type="text/javascript" language="javascript" src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
  integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
  crossorigin=""></script>
<script type="text/javascript" language="javascript"
  src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" language="javascript" src="https://www.chartjs.org/dist/2.9.3/Chart.min.js"></script>
<script type="text/javascript" language="javascript" src="{% static 'dashboard/js/chart.js' %}"></script>
<script type="text/javascript" language="javascript" src="{% static 'covid19/js/base.js' %}"></script>
<script type="text/javascript" language="javascript" src="{% static 'covid19/js/chart.js' %}"></script>
<script type="text/javascript" language="javascript" src="{% static 'covid19/js/map.js' %}"></script>
<script type="text/javascript" language="javascript" src="{% static 'js/dataTables.min.js' %}"></script>
<script type="text/javascript" language="javascript" src="{% static 'js/dataTables.responsive.min.js' %}"></script>
<script type="text/javascript" language="javascript" src="{% static 'js/dataTables.bootstrap5.min.js' %}"></script>
<script type="text/javascript" language="javascript" src="{% static 'covid19/js/table.js' %}"></script>
<script type="text/javascript" language="javascrit" src="{% static 'covid19/js/dashboard.js' %}"></script>
{% endblock %}
