<div class="nav-scroller bg-body shadow-sm">
  <nav aria-label="Secondary navigation">
    <a href="https://blog.brasil.io/2020/03/23/dados-coronavirus-por-municipio-mais-atualizados/">
      Sobre o projeto
    </a>
    <a href="{% url 'core:dataset-detail' 'covid19' %}">
      Dados completos
    </a>
    <a {% if request.resolver_match.url_name == 'bulletins' %} class="active" {% endif %}
       href="{% url 'covid19:bulletins' %}">
      Boletins diários
    </a>
    <a href="https://github.com/turicas/covid19-br/tree/master/api.md">
      Documentação da API
    </a>
    <a href="https://github.com/turicas/covid19-br/tree/master/clipping.md">
      Quem está usando
    </a>
    <a href="{% url 'core:donate' %}">
      Apoie o projeto
    </a>
  </nav>
</div>