{% extends 'base.html' %}
{% load l10n %}
{% load static %}
{% block title %}Covid19 Status de Importação {{ state.name }}- Brasil.IO{% endblock %}

{% block head %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/dataTables.material.min.css">
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'covid19/css/status.css' %}"/>
{% endblock %}

{% block nav %}
  {% include 'covid19/links.html' %}
{% endblock %}

{% block content %}{% localize on %}
<div id="dashboard-header">
  <div class="card yellow lighten-5" style="padding: 20px; margin-top: 15px; text-align: justify;">
    {% include 'covid19/text.html' %}
  </div>
  <h1> Histórico de Importação {{ state.name }} </h1>
</div>
<div class="card">
  <div class="card-content">
    <div class="row">
      <div id="table-col" class="col xl12 l12 m12 s12">
        <table class="table" id="status-data-table">
          <thead>
            <tr>
              <th> Data </th>
              <th> Colaboradores </th>
              <th> Status das Planilhas </th>
              <th> Deployed </th>
              {% if is_covid19_contributor %}
              <th> Histórico Detalhado </th>
              {% endif %}
            </tr>
          </thead>
    
          <tbody>
            {% for import_date, row in data.items %}
            <tr>
              <td data-order="{{ import_date|date:"Y-m-d"}}"> {{ import_date }} </td>
              <td><ul>{% for c in row.collaborators %}<li>{{ c }}</li>{% endfor %}</ul></td>
              <td> {{ row.has_city_data|yesno:"Com dados municipais,Apenas dados totais,Nenhum dado para essa data" }}</td>
              <td> {{ row.deployed_has_city|yesno:"Com dados municipais,Apenas dados totais,Nenhuma planilha deployed" }}{% if row.current_deployed and is_covid19_contributor%}<span> | <a href="{{ row.current_deployed.admin_url }}">admin</a></span>{% endif %}</td>
              {% if is_covid19_contributor %}
              <td><a href="{{ row.detailed_history_url }}">Ver todas planilhas</a></td>
              {% endif %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
     </div>
  </div>
</div>
{% endlocalize %}
{% endblock %}

{% block script %}
{{ block.super }}
<script type="text/javascript">

jQuery(document).ready(function() {
  jQuery('#status-data-table').DataTable({
    "paging":         false,
    "searching":      false,
    "bInfo":          false,
    "order":          [0, "desc"],
  });
});

</script>

{% endblock %}
