<section class="section">
  <div class="card bg-brio-warning text-black pt-2">
    <div class="card-body">
      <p>
        Graças a uma força-tarefa de <a href="{% url 'covid19:volunteers' %}" title="Ver voluntários"
          class="link-brio-primary">40
          voluntários</a> que, diariamente, compilam boletins epidemiológicos das 27
        Secretarias Estaduais de Saúde, disponibilizamos uma base de dados
        com a série histórica de casos e óbitos confirmados por município. Embora
        essenciais para o planejamento de políticas de contenção do novo
        coronavírus, os dados municipais não têm sido divulgados pelo Ministério da
        Saúde. Ainda como parte desse esforço contínuo de fornecer dados úteis
        relacionados à pandemia, disponibilizamos outras bases estruturadas, como
        população dos municípios afetados, óbitos suspeitos registrados em cartório
        etc.
      </p>
    </div>
  </div>
</section>