{% extends 'base-election.html' %}
{% load l10n %}
{% load static %}
{% block title %}Eleições - Brasil.IO{% endblock %}

{% block content %}

{{ title|json_script:"title" }}

<div id="app"></div>

{% endblock %}

{% block bodyscript %}
{{ block.super }}

<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="https://unpkg.com/naive-ui"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js"></script>
<script>
  // Extracting context
  const context = {}
  document.querySelectorAll("script[type='application/json']").forEach(el => {
    context[`${el.id}`] = JSON.parse(document.getElementById(el.id).textContent)
  })

  apiGet = async (path, params) => {
    const initialParams = []
    // Convert object to arrays to be used by URLSearchParams
    if (params) {
      for (const param of Object.entries(params)) {
        if (!Array.isArray(param[1])) {
          initialParams.push([param[0], param[1]])
          continue
        }
        for (let i = 0; i < param[1].length; i++) {
          initialParams.push([param[0], param[1][i]])
        }
      }
    }
    let resultParams = ""
    if (initialParams.length > 0) {
      const queryParams = new URLSearchParams(initialParams)
      resultParams = "?" + queryParams
    }
    const url = `https://jsonplaceholder.typicode.com/posts${path}${resultParams}`
    const response = await fetch(url.replace("%2B", "+"))
    const data = await response.json()
    return data
  }

  const App = {
    delimiters: ["[[", "]]"],
    components: {
      "n-config-provider": naive.NConfigProvider,
      "n-data-table": naive.NDataTable,
      "n-input": naive.NInput,
      "n-input-group": naive.NInputGroup,
      "n-button": naive.NButton,
      "n-gradient-text": naive.NGradientText,
    },
    setup() {
      let darkThemed = !window.matchMedia("(prefers-color-scheme: dark)").matches
      const data = Vue.ref([]);
      const loading = Vue.ref(true);
      const allData = Vue.ref([]);
      const pageSize = Vue.ref(10);
      const order = Vue.ref(null);
      const sort = Vue.ref(null);
      const search = Vue.ref(null);
      const theme = Vue.ref(null);
      const observer = Vue.ref(null);
      const pageReactive = Vue.reactive({
        page: 1,
        pageCount: 1,
        pageSize: 10,
        pageSizes: [10, 20, 30],
        showSizePicker: true,
        pageSlot: 5
      })

      updatePageCount = () => {
        pageReactive.pageCount = Math.ceil(
          allData.value.length / pageReactive.pageSize
        )
      }

      Vue.onBeforeMount(() => {
        theme.value = localStorage.theme === 'dark' ? naive.darkTheme : null

        // Function to handle dataset changes
        const onDatasetChange = (mutationsList) => {
          for (const mutation of mutationsList) {
            if (mutation.type === 'attributes' && mutation.attributeName.startsWith('data-')) {
              theme.value = mutation.target.dataset.bsTheme === 'dark' ? naive.darkTheme : null
            }
          }
        }
        // Select the target element
        const targetNode = document.querySelector('html')
        // Create an observer instance linked to the callback function
        observer.value = new MutationObserver(onDatasetChange)
        // Start observing the target node for configured mutations
        observer.value.observe(targetNode, { attributes: true })
      });

      Vue.onBeforeUnmount(() => {
        observer.value.disconnect()
      })

      Vue.onMounted(async () => {
        data.value = await apiGet("", { _page: 1, _limit: 10 })
        allData.value = await apiGet("", {})
        loading.value = false
        updatePageCount()
      });

      const columns = [
        {
          title: "Id",
          key: "id",
          sorter: true,
          minWidth: "60px"
        },
        {
          title: "Title",
          key: "title",
          sorter: true,
          minWidth: "250px"
        },
        {
          title: "Body",
          key: "body",
          sorter: true,
          minWidth: "400px"
        }
      ]

      const handlePageChange = async (currentPage) => {
        await requestApi({ _page: currentPage })
        pageReactive.page = currentPage
      }

      const handleSorterChange = async (sorter) => {
        if (!sorter.order) {
          sort.value = null
          order.value = null
          await requestApi()
          return
        }
        sort.value = sorter.columnKey
        order.value = sorter.order === "ascend" ? "asc" : "desc"
        await requestApi()
      }

      const handlePageSizeChange = async (pageSize) => {
        pageReactive.pageSize = pageSize
        pageReactive.page = 1
        updatePageCount()
        await requestApi()
      }

      const requestApi = async (request = {}) => {
        const defaultRequests = {}
        if (search.value) {
          defaultRequests["q"] = search.value
        }
        if (pageReactive.page) {
          defaultRequests["_page"] = pageReactive.page
        }
        if (pageReactive.pageSize) {
          defaultRequests["_limit"] = pageReactive.pageSize
        }
        if (sort.value) {
          defaultRequests["_sort"] = sort.value
        }
        if (order.value) {
          defaultRequests["_order"] = order.value
        }

        loading.value = true;
        data.value = await apiGet("", {
          ...defaultRequests,
          ...request
        });
        loading.value = false
      }

      const requestApiSearch = async () => {
        // Setting new pageSize
        console.log(
          "This duplication call is to query all element found in jsonplaceholderapi and set pages numbers in table. This is not supposed to happen if api returns length of all filtered elements"
        );
        allData.value = await apiGet("", { q: search.value })
        pageReactive.page = 1
        updatePageCount()
        await requestApi()
      }

      const handleSearchKeyUp = _.debounce(async () => {
        await requestApiSearch()
      }, 500);

      const lightThemeOverrides = {
        common: {
          primaryColor: "#2563eb",
          primaryColorHover: "#1d4ed8"
        }
      }

      const darkThemeOverrides = {
        common: {
          primaryColor: "#38bdf8",
          primaryColorHover: "#93c5fd"
        }
      }

      return {
        columns,
        data,
        pagination: pageReactive,
        handlePageChange,
        handleSorterChange,
        handlePageSizeChange,
        handleSearchKeyUp,
        search,
        loading,
        // n-config-provider setup
        ptBR: naive.ptBR,
        lightThemeOverrides,
        darkThemeOverrides,
        theme,
        djangoVarTitle: context.title
      }
    },
    template: `
  <div class="container py-5">
    <n-config-provider
    :locale="ptBR"
    :theme="theme"
    :theme-overrides="theme === null ? lightThemeOverrides : darkThemeOverrides"
  >
    <div class="d-flex justify-content-between mb-3">
      <n-gradient-text :size="20" type="info">
        [[ djangoVarTitle ]]
      </n-gradient-text>
      <n-input-group class="d-flex justify-content-end">
        <n-input
          v-model:value="search"
          @keyup="handleSearchKeyUp"
          :style="{ width: '250px' }" placeholder="Pesquisa"
        ></n-input>
        <n-button type="primary" ghost>
          Pesquisar
        </n-button>
      </n-input-group>
    </div>
    <n-data-table
      remote
      :columns="columns"
      :data="data"
      :bordered="false"
      :loading="loading"
      :pagination="pagination"
      :scrollbar-props="{ trigger: 'none', xScrollable: true }"
      @update:page-size="handlePageSizeChange"
      @update:page="handlePageChange"
      @update:sorter="handleSorterChange"
    >
    </n-data-table>
  </n-config-provider>
  </div>
  `,
  }

  const app = Vue.createApp(App)
  app.mount("#app")
</script>

{% endblock %}
