<div class="nav">
    <div class="nav-main">
        <a href="/">
            <img src="{{site.baseurl}}assets/images/logo_brasil.io-2.png"
            class="logo">
        </a>
        <ul id="pagenav">
            <a href="/"><li>Sobre</li></a>
            <a href="https://api.brasil.io/"><li>API</li></a>
            <a href="{{ site.baseurl }}guia"><li>Guia</li></a>
            <a href="{{ site.baseurl }}colabore"><li>Colabore</li></a>
            <!-- <a href="{{ site.baseurl }}blog"><li>Blog</li></a> -->
        </ul>
    </div>
</div>
