{% extends "admin/change_form.html" %}
{% block extrahead %}
{{ block.super }}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript">
  const populateSelect = (defaultValue) =>
    $.getJSON(
      "/clipping/get/contentype_instances/",
      { id: $("select#id_content_type").val() },
      function (items) {
        var options = '<option value="">---------</option>';
        for (const item of items) {
            options += `<option value="${item.id}"` + (item.id === parseInt(defaultValue) ? ' selected="selected"' : "") + `>${item.name}</option>`;
        }
        $("select#id_object_id").html(options);
      }
    );

  /*
    inspect html to check id of Content select, populate
    select Element if change occurs
  */
  $(document).on("change", "select#id_content_type", () => populateSelect());

  // Document ready
  $(function () {
    const objPk = $(location).attr("href").match("\/([0-9_]+)\/");
    if (objPk && $("select#id_content_type").val()) {
      $.getJSON("/clipping/get/selected_instance/", { id: objPk[1] }, (obj) =>
        populateSelect(obj.object_id)
      );
    } else if ($("select#id_content_type").val()) {
      populateSelect();
    }
  });
</script>
{% endblock %}
