html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  min-height: 100%;
  font-family: Roboto, sans-serif;
  font-weight: 300;
}

.divider-new:before {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin: 0 .45em 0 0;
}

.divider-new:after {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin: 0 0 0 .45em;
}

.divider-new:after, .divider-new:before {
  content: '';
  height: 1px;
  background: #c6c6c6;
}

.divider-new {
  display: flex;
  align-items: center;
  margin-top: 45px;
  margin-bottom: 45px;
}

.divider-new{
  font-weight: 300;
}

.container {
  padding: 10px;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
  color: #1A237E !important;
  margin-right: 10px;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
  text-transform: uppercase;
  font-weight: bold;
}

.card .card-content {
  padding: 0 0.5em 0.5em 0.5em;
}

.card .card-title {
  font-size: 1.5em;
  font-weight: 300;
}

.card .card-content.card-body {
  min-height: 100px;
}

.card.small .card-description {
  color: rgba(0,0,0,0.87);
}

.footer {
  text-align: center;
}

.email-newsletter {
  height: 2em !important;
  font-size: 12px !important;
}

span.social-buttons-container {
  display: inline-block;
  height: 2em;
  margin: 0;
}

ul.social-buttons {
  margin-bottom: 0;
  margin-top: 0;
  float: left;
}

.social-buttons li {
  float: left;
  margin: 0px 5px;
  padding: 0;
  border: 0;
}

ul.social-buttons li a {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  font-size: 25px;
  line-height: 40px;
  outline: 0;
  color: #fff;
  background-color: #222;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
}

ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
  background-color: #3f51b5;
  color:#fff;
}

p.contributor-description {
  margin-top: 0;
  margin-bottom: 10px;
}

.card > .card-content.card-body.number{
  font-weight: bold;
  font-size: 1.5em;
  height: 2em;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0.5rem 0 0.5rem 0;
}

.container {
  margin: 0 auto;
  width: 90%;
  max-width: 100%;
}
@media only screen and (min-width: 601px) {
  .container {
    width: 90%;
  }
}
@media only screen and (min-width: 993px) {
  .container {
    width: 90%;
  }
}

strong { font-weight: bold !important; }
em { font-style: italic !important; }


#dashboard-menu {
  margin-bottom: 30px;
  overflow: auto;
  white-space: nowrap;
}

#dashboard-menu li {
  display: inline-block;
  margin: 0 8px;
}

#dashboard-menu li:first-child {
  margin-left: 0;
}

@media only screen and (min-width: 601px) {
  #dashboard-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  #dashboard-menu li {
    margin-bottom: 15px;
  }
}