
/* Padding and Margin */


.m-5 {
  margin: 5px !important;
}

.m-10 {
  margin: 10px !important;
}

.m-15 {
  margin: 15px !important;
}
.m-20 {
  margin: 20px !important;
}

.m-t-5 {
  margin-top: 0px !important;
}

.m-t-5 {
  margin-top: 5px !important;
}

.m-t-10 {
  margin-top: 10px !important;
}

.m-t-15 {
  margin-top: 15px !important;
}
.m-t-20 {
  margin-top: 20px !important;
}

.m-b-5 {
  margin-bottom: 5px !important;
}

.m-b-10 {
  margin-bottom: 10px !important;
}

.m-b-15 {
  margin-bottom: 15px !important;
}

.m-b-20 {
  margin-bottom: 20px !important;
}

.p-5 {
  padding: 5px !important;
}
.p-b-5 {
  padding-bottom: 5px !important;
}

.p-b-10 {
  padding-bottom: 10px !important;
}

.p-b-15 {
  padding-bottom: 15px !important;
}

.p-b-20 {
  padding-bottom: 20px !important;
}

.p-t-5{
  padding-top: 5px !important;
}

.p-t-10{
  padding-top: 10px !important;
}

.p-t-15{
  padding-top: 15px !important;
}

.p-t-20{
  padding-top: 20px !important;
}

/* Icons */
.fa-3x {
  font-size: 3em;
}

.fa-2x {
  font-size: 2em;
}

.fa-1x {
  font-size: 1.5em;
}

/* Text Aligment */

.text-center {
  text-align: center!important;
}

/* Font */

.font-weight-bold {
  font-weight: 700!important;
}

/* Colors */

.dark-blue {
  color: #3f51b5 !important;
}

.dark-green {
  color: #00695c !important;
}

.btn-dark-blue {
  background-color: #3f51b5;
  color: #fff !important;
}

.btn-dark-blue:hover {
  background-color: #fff ;
  color: #1A237E !important;
}
