<h1 class="fs-5">Oops! Existem melhores formas de baixar o CSV completo de um dataset</h1>
<p>
  <b>
Fazer o download de um CSV pela interface web onera muito nossos servidores. Como isso influencia na experiência usuários, essa requisição foi invalidada.</b>
    <p>Se você precisa baixar a base completa, por favor, baixe o <b><a href="{{ download_url }}">arquivo com dataset completo</a></b>.</p>

     <p>Esse link usa nosso servidor de arquivos estáticos e é a maneira mais rápida (e correta) de baixar a base de dados completa. Por favor, não use a API para percorrer todas as páginas do dataset, nem tente baixar com o "?format=csv" do link de filtros que aparece na interface Web pois ambos oneram demais nossos servidores.</p>

    <p>Em breve limitaremos o acesso automatizado ao site, dados esses abusos que vem acontecendo. Peço que acompanhe nossas novidades no <b><a href="https://t.me/brasil_io">Telegram</a></b>.</p>
</p>
