{% extends 'base.html' %}
{% load static %}
{% block title %}Contribuidores - Brasil.IO{% endblock %}
{% block content %}

<div class="section">
  <h1>Contribuidores</h1>
  <hr>

  <p>
    A lista abaixo é de pessoas que já <i>colaboraram com
      código</i> com o projeto nos vários repositórios de código que
    temos no GitHub (tanto da plataforma, quanto dos programas de captura de
    dados). Além disso, também contribui com a plataforma
    <a href="https://apoia.se/brasilio" title="Apoie nossa campanha">
      quem doa em nossa campanha de financiamento coletivo
    </a> e também voluntários que desempenham outras tarefas (como
    <a href="https://blog.brasil.io/2020/03/23/dados-coronavirus-por-municipio-mais-atualizados/"
      title="Veja nossos voluntários">
      os voluntários que coletam dados do COVID19
    </a>).
  </p>

  <div class="row">
    {% for contributor in contributors %}
    <div class="col-sm-4 col-md-3 col-lg-2 d-flex flex-column align-items-center gy-5">
      <a href="http://github.com/{{ contributor.login }}" target="_blank" title="Visitar @{{ contributor.login }}">
        <img class="rounded-pill" width="100" src="{{ contributor.avatar_url }}"
          alt="Imagem de {{ contributor.login }}">
      </a>
      <a href="{{ contributor.html_url }}" class="fw-bold" title="Visitar página do contribuidor">@{{ contributor.login }}</a>
      <div class="d-flex gap-3 pt-2">
        <a href="http://github.com/{{ contributor.login }}" title="Visitar @{{ contributor.login }}" target="_blank">
          <i class="fab fa-github fs-4" aria-hidden="true"></i>
        </a>
        {% if contributor.blog %}
          <a href="{{ contributor.blog }}" title="Visitar blog" target="_blank">
            <i class="fa fa-link fs-4" aria-hidden="true"></i>
          </a>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}