{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Brasil.IO{% endblock %}</title>
    <style>
        .card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
            color: #1A237E !important;
            margin-right: 24px;
            -webkit-transition: color .3s ease;
            transition: color .3s ease;
            text-transform: uppercase;
            font-weight: bold;
        }
        .wrap-container {
            padding: 25px;
        }
    </style>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-117698282-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-117698282-1');
    </script>

  </head>

  <body>
    <nav>
        <div class="nav-wrapper indigo">
          <a href="/" class="brand-logo"><img src="{% static 'img/logo_br-io_fundo-escuro.png' %}" style="max-height:40px;margin-left: 20px; margin-top: 10px;"></a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
              <li><a href="{% url 'core:manifesto' %}">Manifesto</a></li>
              <li><a href="{% url 'core:dataset-list' %}">Datasets</a></li>
              <li><a href="{% url 'core:dataset-suggestion' %}">Sugira um dataset</a></li>
              <li><a href="{% url 'api:dataset-list' %}">API</a></li>
              <li><a href="{% url 'core:contact' %}">Contato</a></li>
              <li><a href="https://apoia.se/brasilio">Apoie</a></li>
            </ul>
        </div>
    </nav>

    <ul class="sidenav" id="mobile-demo">
      <li><a href="{% url 'core:manifesto' %}">Manifesto</a></li>
      <li><a href="{% url 'core:dataset-list' %}">Datasets</a></li>
      <li><a href="{% url 'core:dataset-suggestion' %}">Sugira um dataset</a></li>
      <li><a href="{% url 'api:dataset-list' %}">API</a></li>
      <li><a href="{% url 'core:contact' %}">Contato</a></li>
      <li><a href="https://apoia.se/brasilio">Apoie</a></li>
    </ul>

    {% block top %}{% endblock %}

    <div class="container">
      {% block content %}{% endblock %}
    </div>
    <div class="footer indigo darken-4">
      <div class="container">
        <div class="section indigo-text text-lighten-5">
          <p>
            O <b>Brasil.IO</b> é mantido com muito carinho por
            <a href="https://twitter.com/turicas">Álvaro Justen</a> e
            <a href="https://github.com/turicas/brasil.io/graphs/contributors">contribuidores</a>.
            <a href="https://github.com/turicas/brasil.io/issues">Colabore também</a>.
          </p>
        </div>
      </div>
    </div>

    <!--JavaScript at end of body for optimized loading-->
    <!-- JQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script>
        $(document).ready(function(){
            $('.sidenav').sidenav();
        });
    </script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
  </body>
</html>
