{% extends 'base.html' %}
{% block title %}Manifesto - Brasil.IO{% endblock %}
{% block content %}
<div class="section">
  <h4>Manifesto</h4>
  <div class="divider"></div>

  <h5>O Problema</h5>
  <p>
    Muitos dados públicos brasileiros estão disponíveis (principalmente depois
    da criação da <a
      href="http://www.planalto.gov.br/ccivil_03/_Ato2011-2014/2011/Lei/L12527.htm">Lei
      de Acesso à Informação</a>) mas <strong>não necessariamente
      acessíveis</strong>: mesmo que a informação esteja disponível, nem sempre
    ela está em um formato estruturado e aberto ou possui metadados que
    facilitem a interpretação (manual ou automática) desses
    dados. Se você já precisou utilizar dados públicos, provavelmente já passou
    por um desses problemas:
  </p>
  <ol>
    <li>
      Páginas que disponibilizam informações mas não possibilitam o download de
      arquivos consolidados (daí necessita-se raspar todo o site);
    </li>
    <li>
      Informações disponibilizadas em formato PDF (não estruturado) em vez de
      em formato de planilha eletrônica;
    </li>
    <li>
      Planilhas disponíveis em formatos fechados (XLS e XLSX) em vez de abertos
      (CSV e ODS);
    </li>
    <li>
      Páginas que disponibilizam um número grande de arquivos (com divisão por
      unidade federativa, por exemplo) mas não um arquivo consolidado, que
      dificulta análises globais.
    </li>
  </ol>
  <p>
    <blockquote>
      <b>
        Restringir acesso a dados públicos é elitizar a democracia.
      </b>
      <a class="waves-effect waves-light btn-floating social" target="_blank"
         title="Publique essa frase no Twitter"
         href="https://twitter.com/intent/tweet?text=Restringir%20acesso%20a%20dados%20p%C3%BAblicos%20%C3%A9%20elitizar%20a%20democracia%20-%20%40turicas%20em%20https%3A%2F%2Fbrasil.io%2Fmanifesto">
      <i class="fa fa-twitter"></i></a>
    </blockquote>
  </p>
  <p>
    Nesse sentido, programadores possuem privilégios sobre outros cidadãos:
    conseguem criar programas que acessam esses dados que estão em formatos não
    amigáveis a não-programadores. Muitas vezes jornalistas, cientistas
    sociais, advogados e profissionais de diversas outras áreas precisam
    contratar programadores (<a
      href="http://journalismcourses.org/PJ1020.html">alguns preferem aprender
      a programar</a>) para resolver esses problemas e, no fim, demoram mais
    tempo para atingir seu objetivo principal: analisar os dados.
  </p>
  <p>
    Além do problema relativo à acessibilidade, que torna tudo mais lento e
    custoso, não existe um lugar comum em que todos os dados disponíveis
    estejam organizados, catalogados e linkados, dificultando ainda mais o
    acesso (ou a descoberta desse tipo de informação).
  </p>
  <p>
    O <a href="https://brasil.io">Brasil.IO</a> foi criado para resolver esses
    problemas.
  </p>

  <h5>Valores</h5>
  <p>
    Nossa missão é tornar acessíveis dados de interesse público brasileiros e
    temos como valores principais a transparência e colaboração. Dessa maneira,
    tudo o que produzimos pode ser verificável, pois além de disponibilizarmos
    os dados em formatos abertos, nosso <a
      href="https://pt.wikipedia.org/wiki/Software_livre">software é livre</a>
    e produzimos tudo isso de maneira colaborativa (entre <a
      href="https://chat.brasil.io/">em nosso chat</a> para saber como
    colaborar ou em <a href="https://github.com/turicas/brasil.io">nosso
      repositório de código no GitHub</a>).
  </p>

  <p>
    <blockquote>
      <b>
        Chamamos de "libertação de dados" #dataliberation o processo de
        capturar, converter, limpar e disponibilizar dados em formatos
        estruturados e abertos.
      </b>
      <a class="waves-effect waves-light btn-floating social" target="_blank"
         title="Publique essa frase no Twitter"
         href="https://twitter.com/intent/tweet?text=Chamamos%20de%20%22liberta%C3%A7%C3%A3o%20de%20dados%22%20%23dataliberation%20o%20processo%20de%20capturar,%20converter,%20limpar%20e%20disponibilizar%20dados%20em%20formatos%20estruturados%20e%20abertos%20-%20%40turicas%20em%20https%3A%2F%2Fbrasil.io%2Fmanifesto">
      <i class="fa fa-twitter"></i></a>
    </blockquote>
  </p>

  <h5>Aplicações</h5>
  <p>
    Diversas áreas podem se beneficiar de dados mais acessíveis. Algumas delas:
    <ol>
      <li>
        No jornalismo guiado por dados, durante a produção de investigações, da
        citação de fontes e checagem de dados (inclusive pelos leitores);
      </li>
      <li>
        Em projetos de inovação cívica e controle social (como a
        <a href="https://serenata.ai/">Operação Serenata de Amor</a>), tornando
        viáveis projetos que talvez não fossem viáveis por dificuldades
        técnicas;
      </li>
      <li>
        Na gestão pública, gerando maneiras eficientes de utilização do
        orçamento através do cruzamento de informações disponíveis em órgãos
        distintos - bases de dados que muitas vezes não conversam por falta de
        padronização.
      </li>
    </ol>
  </p>

</div>
{% endblock %}
