{% extends 'base.html' %}
{% block title %}Manifesto - Brasil.IO{% endblock %}
{% block content %}
<div class="section">
  <h4>Brasil.IO: Manifesto</h4>
  <div class="divider"></div>
  <p>
    Muitos dados públicos brasileiros estão disponíveis (principalmente depois
    da criação da <a
      href="http://www.planalto.gov.br/ccivil_03/_Ato2011-2014/2011/Lei/L12527.htm">Lei
      de Acesso à Informação</a>), mas não necessariamente acessíveis. Mesmo
    que a informação esteja disponível, nem sempre ela está disponível em um
    formato legível por máquina, ou utilizando um formato aberto, ou possui
    descrição (metadados) que facilite a interpretação (manual ou automática)
    desses dados. <b>O nível de acessibilidade de um dado é um filtro sobre
    quem conseguirá utilizá-lo.  </b>
  </p>
  <p>
    Além do problema relativo à acessibilidade, não existe um lugar comum em
    que todos os dados disponíveis estejam organizados e catalogados,
    dificultando ainda mais o acesso (ou a descoberta de que esse tipo de
    informação está disponível).
  </p>
  <p>
    O objetivo do <b>Brasil.IO</b> não é concorrer com iniciativas correlatas
    do Governo (como o <a href="https://dados.gov.br/">dados.gov.br</a>) e de
    outras organizações – pelo contrário, gostaríamos de disponibilizar os
    dados que essas organizações já disponibilizam, porém de forma integrada e
    estruturada, permitindo a qualquer um acessar esses dados, independente do
    conhecimento de computação (muitas bases são disponibilizadas de forma que
    apenas programadores conseguem criar programas para ler os arquivos).
  </p>
</div>
{% endblock %}
