{% if request.user.is_authenticated %}
<li><a href="{% url 'brasilio_auth:profile_update_form' request.user.id %}"> Olá, {{ request.user.username }}</a></li>
<li><a href="{% url 'brasilio_auth:logout' %}">Logout</a></li>
{% else %}
<li><a href="{% url 'brasilio_auth:sign_up' %}">Cadastre-se</a></li>
<li><a href="{% url 'brasilio_auth:login' %}">Login</a></li>
{% endif %}
<li><a href="{% url 'core:manifesto' %}">Manifesto</a></li>
<li><a href="{% url 'core:dataset-list' %}">Datasets</a></li>
<li><a href="{% url 'core:specials' %}">Especiais</a></li>
<li><a href="{% url 'api:dataset-list' %}">API</a></li>
<li><a href="{% url 'core:collaborate' %}">Colabore</a></li>
<li><a href="{% url 'core:contact' %}">Contato</a></li>
<li><a class="btn" href="{% url 'core:donate' %}">Doe</a></li>
