{% extends 'base.html' %}

{% block title %}Exemplo de uso de Chaves API - Brasil.IO{% endblock %}

{% block content %}
<div class="section">
  <h1>Exemplo de uso de Chaves API - Brasil.IO</h1>
  <div class="row bg-light border shadow-sm p-5 mt-4">
    <pre>
### Exemplo em Python 3
import json
from urllib.request import Request, urlopen

token = "{{ key }}"
url = "https://brasil.io/api/datasets/"
request = Request(url, headers={"Authorization": f"Token {token}"})
response = urlopen(request)
data = json.load(response)
print(data)
    </pre>
  </div>
</div>
{% endblock %}
