{% extends "base.html" %}

{% block content %}

  <div class="row m-t-15">
    <div class="col s12 m8 offset-m2">
      <h4>Login</h4>

      {% if form.errors %}
          {% for field in form %}
              {% for error in field.errors %}
                 <p class="red-text text-lighten-3">
                      {{ error|escape }}
                  </p>
              {% endfor %}
          {% endfor %}
          {% for error in form.non_field_errors %}
             <p class="red-text text-lighten-3">
                 {{ error|escape }}
              </p>
          {% endfor %}
      {% endif %}

      {% if next %}
          {% if user.is_authenticated %}
            <p class="red-text text-lighten-3">
              Seu usuário não possui permissão para acessar esta página.
              Para seguir, por favor utilize algum usuário com permissão.
            </p>
          {% else %}
            <p class="red-text text-lighten-3">
              Faça o login para acessar a página.
            </p>
          {% endif %}
      {% endif %}

      <form method="post" action="{% url 'brasilio_auth:login' %}">
        {% csrf_token %}
        {{ form.username.label_tag }}
        {{ form.username }}

        {{ form.password.label_tag }}
        {{ form.password }}

        <div class="text-center">
          <input class="btn" type="submit" value="login" />
          <input type="hidden" name="next" value="{{ next }}" />
          <p>
            <a href="{% url 'brasilio_auth:password_reset' %}">
              Esqueci minha senha
            </a>
          </p>
        </div>
      </form>
    </div>
  </div>

{% endblock %}
