{% extends "base.html" %}

{% block content %}

{% if form.errors %}
<p>Senha inválida. Por favor tente novamente.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Seu usuário não possui permissão para acessar esta página. Para seguir, por favor utilize algum usuário com permissão.</p>
    {% else %}
    <p>Faça o login para acessar a página.</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'brasilio_auth:login' %}">
{% csrf_token %}
<table>
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
</table>

<input class="btn" type="submit" value="login" />
<input type="hidden" name="next" value="{{ next }}" />
</form>

<p><a href="{% url 'brasilio_auth:password_reset' %}">Esqueci minha senha</a></p>

{% endblock %}
