{% extends "base.html" %}

{% block content %}

  <div class="row m-t-15">
    <div class="col s12 m8 offset-m2">
      <h4>Troque sua senha</h4>
      <p class="indigo-text text-lighten-1">
        Informe seu email e lhe enviaremos um link com as intruções para trocar sua senha =)
      </p>

      {% if form.errors %}
          {{ form.errors }}
      {% endif %}

      <form method="post" action="{% url 'brasilio_auth:password_reset' %}">
        {% csrf_token %}

        {{ form.email.label_tag }}
        {{ form.email }}
        <div class="text-center">
          <input class="btn" type="submit" value="Resetar" />
        </div>
      </form>

    </div>
  </div>

{% endblock %}
