{% extends "base.html" %}

{% block content %}

<h4>Atualização de Senha</h4>

{% if validlink %}

<p>Por favor, informe sua nova senha duas vezes para que possamos verificar se você a digitou corretamente.</p>

<form method="post">{% csrf_token %}
    <div>
        {{ form.new_password1.errors }}
        <label for="id_new_password1">Nova senha:</label>
        {{ form.new_password1 }}
    </div>
    <div>
        {{ form.new_password2.errors }}
        <label for="id_new_password2">Confirmação de senha:</label>
        {{ form.new_password2 }}
    </div>
    <input class='btn' type="submit" value="Alterar minha senha" />
</form>

{% else %}

<p>O link para atualização de senha está inválido. Provavelmente você já o utilizou ou o link expirou. Por favor, solicite uma nova troca de senha.</p>

{% endif %}

{% endblock %}
