{% extends "brasilio_auth/auth_base.html" %}

{% block cardtitle %}
  Redefinição de senha enviada
{% endblock %}

{% block cardcontent %}  
  <p>
    Se existir uma conta com o e-mail fornecido, você receberá, em breve,
    uma mensagem com as instruções para redefinição da sua senha.
    Verifique sua caixa de entrada.
  </p>

  <p>
    <strong>Se você não receber um e-mail, por favor verifique se o endereço digitado
    é o mesmo que você usou para se registrar. </strong>
    Verifique também a sua pasta de spam.
  </p>
  
  <div class="mt-4">
    <a href="/" class="auth-btn">Voltar para início</a>
  </div>

{% endblock %}
