{% extends "brasilio_auth/auth_base.html" %}

{% block cardtitle %}
  Atualização de Senha
{% endblock %}

{% block cardcontent %}

      {% if validlink %}
        <p class="indigo-text text-lighten-1">
          Por favor, informe sua nova senha duas vezes para que possamos verificar se
          você a digitou corretamente.
        </p>

        <form method="post">
          {% csrf_token %}

          <label for="new_password1" class="form-label">Nova senha</label>
          <input type="password" name="new_password1" class="form-control" id="new_password1">
          {% if form.new_password1.errors %}
            <div class="small text-danger">
              {{ form.new_password1.errors }}
            </div>
          {% endif %}

          <label for="id_new_password2" class="form-label">Confirmação de senha</label>
          <input type="password" name="id_new_password2" class="form-control" id="id_new_password2">
          {% if form.new_password2.errors %}
            <div class="small text-danger">
              {{ form.new_password2.errors }}
            </div>
          {% endif %}
          <div class="mt-2">
            <input class='auth-btn' type="submit" value="Alterar minha senha" />
          </div>
        </form>

        {% else %}
        <p>
          O link para atualização de senha está inválido.
          Provavelmente você já o utilizou ou o link expirou.
          Por favor, solicite uma nova troca de senha.
        </p>
        <div class="mt-4">
          <a class="auth-btn" href="/">Voltar para tela Inicial</a>
        </div>

      {% endif %}


{% endblock %}
