{% extends "brasilio_auth/auth_base.html" %}

{% block alert %}
  {% if form.errors %}
    {% for error in form.non_field_errors %}
      {% with message=error|safe type="danger" %}
        {% include 'includes/toast.html' %}
      {% endwith %}
    {% endfor %}
  {% endif %}
{% endblock %}

{% block cardtitle %}
  Trocar senha
{% endblock %}

{% block cardcontent %}
      <div class="mb-4">
        <p>
          Informe seu email e lhe enviaremos um link com as intruções para trocar sua senha =)
        </p>      
      </div>

      <form method="post" action="{% url 'brasilio_auth:password_reset' %}">
        {% csrf_token %}
        <label for="inputEmail1" class="form-label">Email</label>
        <input type="email" name="email" class="form-control" id="inputEmail1">
        {% if form.email.errors %}
          <div class="small text-danger">
            {{ form.email.errors }}
          </div>
        {% endif %}

        <div class="mt-2">
          <input class="auth-btn" type="submit" value="Resetar" />
        </div>
      </form>


{% endblock %}
