{% extends "base.html" %}

{% block content %}
  <div class="row m-t-15 center">
    <div class="col s12 m8 p8 offset-m2">
      <h4>Ops, estamos fechados para novos cadastros</h4>
      <p>
        Infelizmente desativamos temporáriamente o cadastro de novas pessoas por questões técnicas.
      </p>
      <p>
        Fique atento ao nosso <a href="https://t.me/brasil_io">grupo do Telegram</a> que é sempre a principal fonte de atualizações sobre o Brasil.io e suas atualizações.
      </p>

    </div>
  </div>
{% endblock %}
