{% extends "brasilio_auth/auth_base.html" %}
{% load static %}

{% block cardtitle %}
  Cadastro
{% endblock %}

{% block cardcontent %}
  {% if next %}
    {% include 'core/includes/contas-gratuitas.html' %}
  {% endif %}
  <form class="row" method="post">
    {% csrf_token %}
    
    {% for field in form %}
      <div class="gy-2">
        {% if field.label != "Captcha" %}
          <label class="form-label">{{ field.label }}</label>
          {% if field.label == "Usuário" %}
            <div class="input-group">
              <span class="input-group-text" id="basic-addon1">@</span>
              {{ field }}
            </div>
          {% else %}
            {{ field }}
          {% endif %}
          {% if field.errors %}
            <div class="small text-danger">
              {{ field.errors }}
            </div>
          {% endif %}
        {% else %}
          <div class="mb-2">
            <label class="form-label mb-2">{{ field.label }}</label>
            {{ field }}
          </div>
        {% endif %}
      </div>
    {% endfor %}

    {% if next %}
      <input type="hidden" name="next" value="{{ next }}" />
    {% endif %}
    
    <button class="auth-btn" type="submit" value="Salvar">Salvar</button>
    
    <div class="text-center mt-2">
      <a href="https://t.me/brasil_io">
        <span>Assine nosso canal no Telegram</span>
        <img src="{% static 'img/logo-telegram.png' %}" style="height: 1.5em" alt="Logo Telegram">
      </a>
    </div>
  </form>
{% endblock %}