nav ul li {
  list-style-type: none; 
  display: inline-block; 
  float: none!important;
}

nav ul {
  white-space: nowrap;
  overflow-x: auto; 
  overflow-y: hidden; 
  width: 100%;
  background-image: linear-gradient(to right, #3f51b5, #3f51b5),linear-gradient(to right, #3f51b5, #3f51b5),linear-gradient(to right, rgba(0,0,0,.25), rgba(255,255,255,0)),linear-gradient(to left, rgba(0,0,0,.25), rgba(255,255,255,0));   
  background-position: left center, right center, left center, right center;
  background-repeat: no-repeat;
  background-color: #3f51b5;
  background-size: 20px 100%, 20px 100%, 10px 100%, 10px 100%;
  background-attachment: local, local, scroll, scroll;
}

#map {
  margin-top: -40px;
  min-height: 850px;
  min-width: 400px;
}

.card {
  height: 10em;
}

.info {
  padding: 6px 8px;
  font: 14px/16px sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}
.info h4 {
  margin: 0 0 5px;
  color: #777;
}

.legend i {
  width: 18px;
  line-height: inherit;
  margin-right: 8px;
  display: inline-block;
  height: 18px;
}

.legend > label {
  color: #000;
}
.legend > input {
  color: #000;
  font-size: 1em;
}

#loading {
  position: relative;
  z-index: 999;
  margin-bottom: 0px;
  margin-left: 50px;
  height: 40px;
  padding-top: 10px;
}
#loading > span > img {
  width: 20px;
  height: 20px;
}

.dataTables_filter label {
  float: left;
  font-size: 1.5em;
  text-align: left;
  width: 100%;
}
.dataTables_wrapper .dataTables_filter input[type=search] {
  float: right;
  width: calc(100% - 7rem);
}

#map-col {
  padding: 0 2px 0 0;
}
#table-col {
  padding: 0 0 0 0;
}

.state-option {
  font-size: 1em;
  padding: 0 1em;
}
@media screen and (max-width: 1280px) {
  .state-option {
    font-size: 1em;
    padding: 0 0.25em;
  }
}
