#map {
  margin-top: -40px;
  min-height: 850px;
  min-width: 400px;
}

.card {
  height: 10em;
}

.info {
  padding: 6px 8px;
  font: 14px/16px sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}
.info h4 {
  margin: 0 0 5px;
  color: #777;
}

.legend i {
  width: 18px;
  line-height: inherit;
  margin-right: 8px;
  display: inline-block;
  height: 18px;
}

.legend > label {
  color: #000;
}
.legend > input {
  color: #000;
  font-size: 1em;
}

#loading {
  position: relative;
  z-index: 999;
  margin-bottom: 0px;
  margin-left: 50px;
  height: 40px;
  padding-top: 10px;
}
#loading > span > img {
  width: 20px;
  height: 20px;
}

.dataTables_filter label {
  float: left;
  font-size: 1.5em;
  text-align: left;
  width: 100%;
}
.dataTables_wrapper .dataTables_filter input[type=search] {
  float: right;
  width: calc(100% - 7rem);
}

#map-col {
  padding: 0 2px 0 0;
}
#table-col {
  padding: 0 0 0 0;
  overflow: auto;
}

.state-option {
  font-size: 1em;
  padding: 0 0.75em;
}

#dashboard-state-selector nav {
  height: auto;
  margin: 30px 0 15px 0;
}
#dashboard-state-selector nav ul {
  overflow: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

@media screen and (min-width: 601px) {
  #dashboard-state-selector nav ul {
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 992px) {
  .state-option {
    padding: 0 0.33em;
  }
}

@media screen and (min-width: 1200px) {
  .state-option {
    padding: 0 0.537em;
  }
}

div.dataTables_wrapper {
  min-width: 800px;
  margin: 0 auto;
}