.nav-scroller {
    @extend .d-flex, .justify-content-lg-center, .align-items-center, .gap-3;
    position: relative;
    z-index: 2;
    height: 2.55rem;
    overflow-y: hidden;
    background-image: linear-gradient(to bottom, $main-banner-dark, $main-banner-light);

    nav {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;

        a {
            @extend .nav-link, .link-light, .px-2;
        }
    }
}
