.card-special {
    @extend .bg-gradient, .card, .shadow, .my-5, .px-2, .px-md-5, .py-4;
    font-weight: $fw-heavy;
    color: $gray-800;

    a {
        color: $gray-700;

        &:hover {
            color: $gray-900;
        }
    }

    .card-text {
        @extend .col-12, .col-md-7;
    }
}

.special-icon {
    @extend .position-absolute,
        .d-flex,
        .flex-column,
        .justify-content-center,
        .align-items-center,
        .align-items-md-end;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    pointer-events: none;

    i {
        font-size: 6rem;
        opacity: 10%;
    }
}

@include media-breakpoint-up(md) {
    .special-icon {
        right: 4em;

        i {
            opacity: 15%;
        }
    }
}