{% load static %}
<!DOCTYPE html>
<html>

<head>
  {% block head %}
  <meta charset="utf-8">
  <!--Import Google Icon Font-->
  <link rel="stylesheet" type="text/css" href="{% static 'css/material_icons.css' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/materialize-social.css' %}">

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/materialize.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/dataTables.material.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/application.css' %}">
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
  <title>{% block title %}Brasil.IO{% endblock %}</title>

  {% block script %}
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-117698282-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'UA-117698282-1');
  </script>
  <script src="{% static 'js/jquery.js' %}"></script>
  <script src="{% static 'js/materialize.min.js' %}"></script>
  <script src="{% static 'js/application.js' %}"></script>
  {% endblock %}
  {% endblock %}

</head>

<body>
  <nav>
    <div class="nav-wrapper indigo">
      <a href="/" class="brand-logo" title="Ir à página inicial">
        <img id="logo" src="{% static 'img/logo/logo_br-io_fundo-escuro.png' %}" alt="Logo da Brasil.IO">
      </a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger" title="Menu"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        {% include 'core/menu.html' with id_prefix='desktop' %}
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    {% include 'core/menu.html' with id_prefix='mobile'%}
  </ul>

  {% block top %}{% endblock %}

  <main class="container">
    {% block content %}{% endblock %}
  </main>

  <footer class="page-footer indigo darken-3">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Receba nossas novidades</h5>
          <!-- Begin MailChimp Signup Form -->
          <div id="mc_embed_signup">
            <form
              action="https://cafe.us18.list-manage.com/subscribe/post?u=80b85fdff0e6a974bff762825&amp;id=ef97ff9b61"
              method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
              target="_blank" novalidate>

              <div id="mc_embed_signup_scroll ">
                <div class="row">
                  <div class="mc-field-group input-field col m4">
                    <input type="email" placeholder="Digite seu e-mail" value="" name="EMAIL"
                      class="required email white-text email-newsletter" id="mce-EMAIL">
                    <label for="mce-EMAIL">Newsletter</label>
                  </div>

                  <div id="mce-responses" class="clear">
                    <div class="response" id="mce-error-response" style="display:none"></div>
                    <div class="response" id="mce-success-response" style="display:none"></div>
                  </div>
                  <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                  <div style="position: absolute; left: -5000px;" aria-hidden="true">
                    <input type="text" name="b_80b85fdff0e6a974bff762825_ef97ff9b61" tabindex="-1" value="">
                  </div>
                  <div class="clear col m4">
                    <input type="submit" value="Inscrever" name="subscribe" id="mc-embedded-subscribe"
                      class=" btn btn-dark-blue" style="float: left;">
                  </div>
                </div>
              </div>

            </form>
          </div>
          <!--End mc_embed_signup-->
        </div>

        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li><a href="https://t.me/brasil_io">
                Nosso Canal no Telegram
                <img style="height: 1.2em" src="{% static 'img/logo-telegram.png' %}" alt="Logo Telegram"></a>
            </li>
            <li><a href="https://twitter.com/brasil_io">
                Nosso Twitter
                <img style="height: 1.2em" src="{% static 'img/logo-twitter.png' %}" alt="Logo Twitter"></a>
            </li>
            <li><a href="{% url 'core:contact' %}">Entre em contato conosco</a></li>
            <li><a href="{% url 'core:collaborate' %}">Colabore conosco</a></li>

          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container left">
        O Brasil.io é mantido com muito carinho por
        <a href="https://twitter.com/turicas">Álvaro Justen</a> e
        <a href="{% url 'core:contributors' %}">contribuidores.</a>
      </div>
    </div>
  </footer>

</body>

</html>
